<%
  rating = Offline::CertificationPath.ratings.keys[rec.certification_rating].split 
%>
<% rating[0].to_i.times do %>
  <i class="fa fa-star fa-lg"><span style="display:none;">*</span></i>
<% end %>