<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="<%= "score_absolute_#{element_id}" %>">
        <% maximum_scale_absolute ||= absolute_scores[:maximum] %>
        <% minimum_scale_absolute ||= absolute_scores[:minimum] %>
        <%= render 'score/score', scores: absolute_scores, maximum_scale: maximum_scale_absolute, minimum_scale: minimum_scale_absolute %>
    </div>
    <div role="tabpanel" class="tab-pane" id="<%= "score_weighted_#{element_id}" %>">
        <% maximum_scale_weighted ||= weighted_scores[:maximum] %>
        <% minimum_scale_weighted ||= weighted_scores[:minimum] %>
        <%= render 'score/score', scores: weighted_scores, maximum_scale: maximum_scale_weighted, minimum_scale: minimum_scale_weighted %>
    </div>
</div>
