<!-- This partial expects a lists of model id's -->
<ul class="score-tabs list-inline pull-right" role="tablist">
    <li role="presentation" class="active">
        <a data-target="#score_absolute_<%= id_list.join(', #score_absolute_') %>" aria-controls="<%= id_list.join(', score_absolute_') %>" role="tab" data-toggle="tab">
            Absolute
        </a>
    </li>
    <li role="presentation">
        <a data-target="#score_weighted_<%= id_list.join(', #score_weighted_') %>" aria-controls="<%= id_list.join(', score_weighted_') %>" role="tab" data-toggle="tab">
            Weighted
        </a>
    </li>
</ul>
