<div class="ibox float-e-margins">
  <div class="ibox-title">
    <div class="d-flex justify-content-between align-items-center">
      <h5><b>Demerit Notices</b></h5>
    </div>
  </div>
  <div class="ibox-content">
    <table class="table table-bordered table-striped user-details-table">
      <tbody>
        <tr>
          <th>Type</th>
          <th>Quantity</th>
          <th>Date</th>
        </tr>
        <tr>
          <th>Flags</th>
          <td>
            <% current_user.demerit_flag.to_i.times do %>
              <i class="fa fa-flag fa-lg" style="color:red;"></i>
            <% end %>
          </td>
          <td><%= current_user&.demerit_flag_updated_at&.strftime('%d %B, %Y') %></td>
        </tr>
        <tr>
          <th>Points</th>
          <td>
            <% points = 0 %>
            <% current_user.demerit_flag.to_i.times do %>
              <%= points = points + 2 %>
            <% end %>
          </td>
          <td><%= current_user&.demerit_flag_updated_at&.strftime('%d %B, %Y') %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>