<table class="table mb-0">
  <tbody>
    <tr>
      <th>License Type</th>
      <th>License Name</th>
      <th>GSB ID</th>
      <th>Expiry Date</th>
      <th>Licence</th>
    </tr>
    <tr>
      <td>GSB Districts</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <%=
        render partial: "user_licence", locals: { user_licences:  user_licences_energy_centers_efficiency, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.energy_centers_efficiency") } 
        render partial: "user_licence", locals: { user_licences:  user_licences_measurement_reporting_and_verification, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.measurement_reporting_and_verification") } 
        render partial: "user_licence", locals: { user_licences:  user_licences_building_water_efficiency, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.building_water_efficiency") } 
        render partial: "user_licence", locals: { user_licences:  user_licences_events_carbon_neutrality, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.events_carbon_neutrality") } 
        render partial: "user_licence", locals: { user_licences:  user_licences_products_ecolabeling, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.products_ecolabeling") } 
        render partial: "user_licence", locals: { user_licences:  user_licences_green_IT, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.green_IT") } 
        render partial: "user_licence", locals: { user_licences:  user_licences_energy_building, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.energy_building") } 
        render partial: "user_licence", locals: { user_licences:  user_licences_energy_label_for_building_performance, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.energy_label_for_building_performance") }
        render partial: "user_licence", locals: { user_licences:  user_licences_indoor_air_quality_certification, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.indoor_air_quality_certification") }
        render partial: "user_licence", locals: { user_licences:  user_licences_indoor_environmental_quality_certification, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.indoor_environmental_quality_certification") }
        render partial: "user_licence", locals: { user_licences:  user_licences_energy_label_for_wastewater_treatment_plant, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.energy_label_for_wastewater_treatment_plant") }
        render partial: "user_licence", locals: { user_licences:  user_licences_energy_label_for_leachate_treatment_plant, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.energy_label_for_leachate_treatment_plant") }
        render partial: "user_licence", locals: { user_licences:  user_licences_healthy_building_label, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.healthy_building_label") }
        render partial: "user_licence", locals: { user_licences:  user_licences_energy_label_for_industrial_application, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.energy_label_for_industrial_application") }
        render partial: "user_licence", locals: { user_licences:  user_licences_energy_label_for_infrastructure_projects, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.energy_label_for_infrastructure_projects") }
    %>
  </tbody>
</table>
