<table class="table mb-0">
  <tbody>
    <tr>
      <th>Overdue</th>
      <th>Task</th>
    </tr>
    <% @overdue_licences.each do |ac| %>
    <tr>
      <td><%= (ac.expiry_date.to_date - Date.today.to_date).to_i %> Days</td>
      <td>Update <b><%= ac.licence.display_name %></b></td>
    </tr>
    <% end %>
  </tbody>
</table>