<div class="ibox">
  <div class="ibox-title">
    <h5>GSB Trust Team Contact</h5>
  </div>
  <div class="ibox-content">
    <% gord_contact = ProjectsUser.for_project(project).certification_managers.first %>
    <% unless gord_contact.nil? %>
        <p>For any query related to certification, contact <a href="mailto:<%= gord_contact.user.email %>"><%= gord_contact.user.full_name %></a></p>
    <% else %>
        <p>No certification manager assigned yet.</p>
    <% end %>
  </div>
</div>