<% @page_title = t('survey_type.edit.title_html', title: @survey_type.title) %>
<style>
  body.skin-gord-login{
    background-color: #3a4f57 !important; 
    background-image:none !important;
  }
</style>
<div class="ibox p-5 m-4 new_form">
  <div class="ibox-content new-user-content-box">
    <%= render 'form' %>
  </div>
</div>
