<% @page_title = t('survey_type.edit.title_html', title: @survey_type.title) %>

<div class="ibox float-e-margins">
  <div class="ibox-content new-user-content-box">
    <%= render 'form' %>
  </div>
</div>
