<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Tasks</h5>
    </div>
    <div class="ibox-content">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Description</th>
                <th>Resource</th>
            </tr>
            </thead>
            <tbody>
            <% @tasks.each do |task|
                breadcrumbs = breadcrumbs(task.model, with_prefix: false)
             %>
                <tr class="clickable" data-href="<%= breadcrumbs[:paths].last %>">
                    <td><%= t(".description_#{task.description_id}") %></td>
                    <td><%= breadcrumbs[:names].last %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>