<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Tasks</h5>
    </div>
    <div class="ibox-content">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Description</th>
                <th>Resource</th>
                <th>Due date</th>
            </tr>
            </thead>
            <tbody>
            <% if @tasks.empty? %>
                <tr><td colspan="3">Currently there are no tasks.</td></tr>
            <% else %>
                <% @tasks.each do |task|
                    breadcrumbs = breadcrumbs(task.model, with_prefix: false)
                 %>
                    <tr class="clickable" data-href="<%= breadcrumbs[:paths].last %>">
                        <td><%= t(".description_#{task.description_id}") %></td>
                        <td><%= breadcrumbs[:names].last %></td>
                        <td><% if task.model.class.method_defined?(:due_date) && task.model.due_date.present? %><%= l(task.model.due_date, format: :short) %><% else %>-<% end %></td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
        </table>
    </div>
</div>