<div class="row">
    <div class="col-md-4">
        <%= f.text_field "field-data-#{field_data.id}", append: 'kWh/year', value: field_data.value, label: field_data.field.label, disabled: current_user.enterprise_licence? %>
    </div>
</div>