<label class="control-label select optional" for="user_service_provider">Service Provider</label>
<%= select_tag "user[service_provider_id]", options_for_select(service_providers), { include_blank: "Select Service Provider", required: true, id: "select-service-provider", class: "select2 form-control select-service-provider"}  %>
