<div class="table-responsive">
<table class="table table-striped table-bordered border-bottom-table">
  <thead>
    <tr class="bg-header-grey">
      <th>Full Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </head>
  <tbody>
    <% service_provider.users.each do |user| %>
      <tr>
        <td><%= link_to(user.full_name, user_path(user)) %></td>
        <td><%= user.email %></td>
        <td><%= label_span(user.active?, 'Active', 'Deactivated').html_safe %></td>
        <td>
          <%= btn_link_to(confirm_destroy_user_path(user), {icon: 'trash', text: 'Delete', style: 'danger', method: :get, data: {confirm: 'Do you really want to delete this CGP from list?'}}) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>