<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Project tasks for user <%= @user.email %></h5>
            </div>
            <div class="ibox-content">
                <%= render 'tasks', user: @user %>
            </div>
        </div>
    </div>
</div>