<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5><%=t '.table_title' %></h5>
    </div>
    <div class="ibox-content">
        <p class="alert alert-info"><%= fa_icon('info-circle') %> This is an overview of all users using the GSASgate system. User management should be done through the linkme.qa system.</p>
        <%= render_datatable(@datatable) %>
    </div>
</div>