<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5><%=t '.table_title' %></h5>
    </div>
    <div class="ibox-content">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.email %></td>
                    <td><%= user.role.humanize %></td>
                    <td>
                        <% if user.id != 1 %>
                        <%= link_to "<i title=\"#{t('.action_edit_title')}\" class=\"fa fa-lg fa-edit\" style=\"padding-right: 10px;\"></i>".html_safe, edit_user_path(user) %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>