.new-user-content-box {
  margin: 2rem 1rem 20rem 1rem;
}

.cktext-area .col-sm-offset-2 {
  margin-left: unset !important;
}

.t-hr {
  margin: 2px 0 2px 0;
  padding: 0px;
}

.td-px-0 {
  padding-inline: 0px !important;
}

.table-py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.table-mb-0 {
  margin-bottom: 0px !important;
}

.table-mb-1 {
  margin-bottom: 1px !important;
}

.table-my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.table-p-0 {
  padding: 0px !important;
}

a.link-mr-2 {
  margin-right: 0.7rem !important;
}

.bg-header-grey {
  background-color: $gray-100;
}

.bg-header-white {
  background-color: $white !important;
}

.project-details-table th {
  width: 180px;
}

.user-details-table th {
  width: 30%;
}

.mb-1rem {
  margin-bottom: 1rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

/* projects/index datatable custom css */
ul.dt-button-collection {
  .buttons-colvisGroup,
  .buttons-colvisRestore {
    clear: unset !important;
  }

  li.hover-disabled {
    a {
      pointer-events: none;

      &:hover,
      &:focus {
        background-color: unset !important;
        color: unset !important;
      }
    }
  }
}

tr.outline-danger {
  outline: 1px solid $danger;
  box-shadow: 0 0 0 1px #f8120a4f;
}

.bg-disabled {
  background-color: $border-color;
  opacity: 1;
}

label.required:after {
  content: " *";
  color: #c34848;
  font-size: 16px;
}

form.user-form .icheckbox_square-green {
  margin-right: 1.2rem !important;
}

fieldset.scheduler-border {
  border: 1px groove $gray-200 !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px $black;
  box-shadow: 0px 0px 0px 0px $black;
}

legend.scheduler-border {
  font-size: 1.2em !important;
  font-weight: 600 !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}

.nested-fields .table-bordered {
  height: 274px;
}

.border-box-shadow {
  box-shadow: 10px 10px 5px rgba($skin-gord-color, 0.17);
}

.survey-questions-fields {
  position: relative;

  .nested-fields-links {
    position: absolute;
    left: 2rem;
    bottom: 0rem;
  }
}

@media (max-width: 1440px) {
  .skin-gord-login {
    .login-footer {
      position: relative !important;
      width: 100% !important;
    }
  }
}
.file {
  border: none !important;
}
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.menu-div {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 999 !important ;
}

.page-title-div {
  position: fixed !important;
  top: 50px !important;
  width: 100% !important;
  z-index: 99 !important;
  // background: image-url('layout/gsas_trust_background.jpg') no-repeat center center fixed;
}

.skin-gord {
  .gord-transparent-green,
  .navbar-nav .dropdown-menu {
    background-color: $skin-gord-color !important;
  }
}

.top-navigation .nav > li > a {
  padding: 15px 18px !important;
}

.skin-gord .navbar-nav .badge {
  background-color: #3b6506 !important;
}

#add-criterion-button,
#add-scheme-button {
  float: right;
  top: 24px;
  position: relative;
}
.top-navigation .nav > li > a {
  padding: 15px 13px !important;
}

.ibox-title.ibox-dashboard-title {
  background: rgba(97, 166, 14, 0.5);
  color: $white;
  float: none;
  min-height: 28px !important;
  padding: 6px;
  text-align: center;
}
.ibox-title.ibox-dashboard-title h5 {
  float: none;
  height: 10px;
}

.dashboard-form .control-label {
  display: none;
}

.f-left {
  float: left;
}
.f-right {
  float: right;
  width: 50%;
}
.dashboard_file_label {
  width: 130px;
}
.b-word {
  word-break: break-word !important;
}

// 20-9-2022
.skin-gord-login {
  background-image:url("layout/Cover Page_bg.jpg") !important;
  color: $white;
  .login-content .loginColumns .row .login-right {
    background-color: rgba(15, 44, 23, 0.8);
  }
  .container {
    @media (min-width: 1200px) {
      max-width: 75%;
    }
  }
}
.text-green {
  color: $skin-gord-logo-green !important;
}

.bg-transparent {
  background: transparent !important;
}
.loginColumns {
  max-width: 100%;
}
.new-user-content-box {
  margin: 0;
}
.login-banner-img {
  max-width: 50%;
}

// 22-9-2022
.dots {
  display: flex;
  div {
    margin: 5px;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: #91bd83;
  }
}
// signup 22-9-2022
.sign_up {
  background-color: #fff;
  .ibox-content {
    border: 0px;
  }
}
fieldset.scheduler-border {
  border: 1px groove #ebebeb5c !important;
}
.new_form {
  .form-control.select2-container {
    height: 38px !important;
    padding: 0;
  }
  .form-control.datepicker-past {
    width: calc(100% - 20px);
  }

  legend {
    color: #c1c1c1;
    background: #3c6e00;
    border-radius: 1rem;
  }

  .form-control,
  .single-line {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid $skin-gord-logo-green;
    font-size: 1.2rem;
    padding: 1rem 0;
    height: auto;
    color: $white;
  }

  label {
    font-size: 1.2rem;
    color: $skin-gord-logo-green;
    font-weight: 600;
  }

  label.required:after {
    line-height: 14px;
  }

  select option {
    background-color: $black;
    color: $white;
  }

  .file {
    background-color: transparent;
    color: $white;
    label {
      color: $skin-gord-logo-green;
    }
  }
  .form-inline {
    span {
      .fa {
        color: $white;
      }
    }
  }
}

// datepicker
.datepicker.dropdown-menu {
  background-color: $black;
}

.datepicker table tr td.today {
  background-color: $skin-gord-logo-green !important;
  border-color: $skin-gord-logo-green !important;
  color: $white !important;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.focused {
  background: $skin-gord-a-color !important;
  cursor: pointer !important;
}

.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
  background: $skin-gord-a-color !important;
  cursor: pointer !important;
}

// 23-9-2022
.bg-dark-green {
  background-color: rgba(15, 44, 23, 0.80);
}
hr {
  border: 0;
  border-top: 1px solid $gray-600;
}
.datepicker table tr td,
.datepicker table tr th {
  color: $white;
}
.bg-dark-green-solid {
  background-color: rgb(15, 44, 23);
}
.bg-black-light {
  background-color: rgba($black, 0.74);
}
.skin-gord {
  .select2-results .select2-no-results,
  .select2-results .select2-searching,
  .select2-results .select2-ajax-error,
  .select2-results .select2-selection-limit {
    background: $black;
    color: $white;
  }

  .select2-container .select2-choice .select2-arrow {
    border-left: 0;
    background: transparent;
  }

  .select2-drop {
    background: $black;
    color: $white;
  }

  .select2-drop.select2-drop-above.select2-drop-active {
    border-top: 0px;
  }

  .select2-drop-active {
    border: 0px solid $info;
    border-top: none;
  }

  .select2-results .select2-highlighted {
    background: $skin-gord-logo-green;
    color: $white;
  }

  .select2-search input {
    background: url("/assets/select2-d6b5d8d….png") no-repeat 100% -22px,
      linear-gradient(to bottom, $black 85%, $black 99%) 0 0;
  }

  .select2-dropdown-open.select2-drop-above .select2-choice,
  .select2-dropdown-open.select2-drop-above .select2-choices {
    background-image: none !important;
    border: 0 !important;
    border-radius: 0;
    border-bottom: 1px solid $skin-gord-logo-green !important;
    padding-left: 0;
  }

  .form-control.select2-container.select2-dropdown-open {
    border: 0 !important;
  }

  .form-control .select2-choice {
    border: 0;
    border-radius: 0px;
    text-decoration: none !important;
    background: transparent;
    height: 36px;
    line-height: 36px;
    padding-left: 0;
    color: $white;
    box-shadow: none;

    .select2-arrow b {
      background-position: 0 5px !important;
    }
  }

  .select2-results .select2-no-results,
  .select2-results .select2-searching,
  .select2-results .select2-ajax-error,
  .select2-results .select2-selection-limit {
    background: $black;
    color: $white;
  }

  .select2-container .select2-choice .select2-arrow {
    border-left: 0;
    background: transparent;
  }

  .new_form {
    .date-input {
      .form-inline {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .select2-drop {
      background: $black;
      color: $white;
    }

    .select2-drop.select2-drop-above.select2-drop-active {
      border-top: 0px;
    }

    .select2-drop-active {
      border: 0px solid $info;
      border-top: none;
    }

    .select2-results .select2-highlighted {
      background: $skin-gord-logo-green;
      color: $white;
    }

    .select2-search input {
      background: url("/assets/select2-d6b5d8d….png") no-repeat 100% -22px,
        linear-gradient(to bottom, $black 85%, $black 99%) 0 0;
    }

    .select2-dropdown-open.select2-drop-above .select2-choice,
    .select2-dropdown-open.select2-drop-above .select2-choices {
      background-image: none !important;
      border: 0 !important;
      border-radius: 0;
      border-bottom: 1px solid $skin-gord-logo-green !important;
      padding-left: 0;
    }

    .form-control.select2-container.select2-dropdown-open {
      border: 0 !important;
    }

    .form-control .select2-choice {
      border: 0;
      border-radius: 0px;
      text-decoration: none !important;
      background: transparent;
      height: 36px;
      line-height: 36px;
      padding-left: 0;
      color: $white;
      box-shadow: none;

      .select2-arrow b {
        background-position: 0 5px !important;
      }
    }
  }
}

// 28-9-2022
// my task menu
.mw-100 {
  max-width: 100%;
}
.skin-gord.after-login {
  .container {
    @media (min-width: 1200px) {
      max-width: 95%;
    }
  }
  .card {
    .ibox {
      border-radius: 8px;
      background: $white;
      overflow: hidden;
      box-shadow: 5px 7px 10px rgba($black, 0.33);
      padding: 1rem;
      .ibox-title {
        background: $skin-gord-logo-green;
        color: $white;
        border: 0px;
        font-size: min(max(18px, 1.367vw), 21px);
        h5 {
          font-size: inherit;
        }
      }
      .ibox-content {
        padding: 0px;
        margin-top: 1rem;
        border: 0px;
        label {
          font-size: min(max(16px, 1.302vw), 20px);
          color: $skin-gord-logo-blue;
          font-weight: 600;
        }
        // form{
        //   margin-top: 1rem;
        // }
      }
      button,
      a.btn {
        border-radius: 5px !important;
        font-size: min(max(16px, 1.302vw), 20px);
        margin: min(max(3px, 0.326vw), 5px);
      }
      .btn-white {
        background-color: $danger;
        border-color: $danger;
        color: $white;
      }
    }
  }
  // select2
  .select2-container .select2-choice {
    height: min(max(30px, 2.93vw), 45px);
    background-image: none;
    background-color: $white;
    border-color: $skin-gord-logo-blue;
    font-size: min(max(14px, 1.172vw), 18px);
    display: flex;
    align-items: center;
    width: 100%;
  }
  .select2-container {
    display: flex;
    align-items: center;
  }
  .select2-search input {
    background: url("/assets/select2.png") no-repeat 100% -22px, linear-gradient(to bottom, $white 85%, $border-color 99%) 0 0;
  }
  .select2-drop {
    background: $white;
    color: $black;
    font-size: min(max(14px, 1.172vw), 18px);
  }
  .select2-dropdown-open.select2-drop-above .select2-choice,
  .select2-dropdown-open.select2-drop-above .select2-choices {
    border: 1px solid $skin-gord-logo-blue;
    border-radius: 4px;
  }
  .select2-results .select2-no-results,
  .select2-results .select2-searching,
  .select2-results .select2-ajax-error,
  .select2-results .select2-selection-limit {
    color: $black;
    background-color: $white;
  }
}
.text-gray{
  color:#ddd;
}

// new header 4-10-2022
.top-navbar{
  background-color: $skin-gord-logo-blue !important;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  .after-login-img{
    width:min(max(200px,19.685vw),377px);
    height:auto;
    min-width: 130px;
  }
  .navbar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: auto;
    padding: 1rem;
    height: min(max(60px,5.208vw),100px);
    @media (max-width:992px){
      width: 100%;
    }
    &::after,&::before{
      display: none;
    }
    .navbar-toggle{
      margin:0;
    }
  }
  .navbar-collapse{
    @media(min-width:768px){

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // height: min(max(70px, 6.771vw), 130px) !important;
    }
    ul.nav {
      margin: 0;
      padding: 0;
      display: flex;
      height: 100%;
      align-items: stretch;
      li:first-child{
        border-left: 1px solid #61a60e;
            
        }
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 150px;
          border-right: 1px solid #61a60e;
          // min-width: 100px;
          .dropdown-open{
            background-color: $skin-gord-logo-green;
          }
          a{
            display: flex;
            flex-direction: column;
            align-items: center;
            height:100%;
            justify-content: center;
            color:#fff;
            font-size:min(max(14px, 1.172vw), 18px);
            font-weight:100;
            width:100%;
            &:focus{
              background-color: $skin-gord-logo-green;
              i{
                color: #fff;
              }
            }
            &:hover{
              background-color: $skin-gord-logo-green;
              i{
                color:#fff;
              }
            }
            
            i{
              margin: 1.5rem 0;
              color:$skin-gord-logo-green;
            }
          }
          &.active{
            background-color: $skin-gord-logo-green;
            margin-bottom: -2rem;
            border-radius: 0 0 1rem;
            overflow: hidden;
            i{
              color: #fff;
            }
          }
        }
    }
    .after-login-right-img{
      padding:1rem;
      max-width: 200px;
    }
  }
}
// end 4-10-2022
