.new-user-content-box {
  margin: 2rem 1rem 20rem 1rem;
}

.cktext-area .col-sm-offset-2 {
  margin-left: unset !important;
}

.t-hr {
  margin: 2px 0 2px 0;
  padding: 0px;
}

.td-px-0 {
  padding-inline: 0px !important;
}

.table-py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.table-mb-0 {
  margin-bottom: 0px !important;
}

.table-mb-1 {
  margin-bottom: 1px !important;
}

.table-my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.table-p-0 {
  padding: 0px !important;
}

a.link-mr-2 {
  margin-right: 0.7rem !important;
}

.bg-header-grey {
  background-color: $gray-100;
}

.bg-header-white {
  background-color: $white !important;
}

.project-details-table {
  th {
    width: 180px;
    border-right: solid 0.5px $gray-600;
    border-top: none !important;
  }
  td {
    border-top: none !important;
  }
}

.user-details-table th {
  width: 30%;
}

.mb-1rem {
  margin-bottom: 1rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

/* projects/index datatable custom css */
.dt-button-collection {
  .buttons-colvisGroup,
  .buttons-colvisRestore {
    clear: unset !important;
  }

  li {
    &.buttons-columnVisibility {
      a {
        color: $gray-700;
      }
    }
    &.active {
      a {
        color: $white;
      }
    }
    &.hover-disabled {
      a {
        pointer-events: none;
        &:hover,
        &:focus {
          background-color: unset !important;
          color: unset !important;
        }
      }
    }
  }
}

tr.outline-danger {
  outline: 1px solid $danger;
  box-shadow: 0 0 0 1px #f8120a4f;
}

.bg-disabled {
  background-color: $border-color;
  opacity: 1;
}

label.required:after {
  content: " *";
  color: #c34848;
  font-size: 16px;
}

form.user-form .icheckbox_square-green {
  margin-right: 1.2rem !important;
}

fieldset.scheduler-border {
  border: 1px groove $gray-200 !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px $black;
  box-shadow: 0px 0px 0px 0px $black;
}

legend.scheduler-border {
  font-size: 1.2em !important;
  font-weight: 600 !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}

.nested-fields .table-bordered {
  height: 274px;
}

.border-box-shadow {
  box-shadow: 10px 10px 5px rgba($primary, 0.17);
}

.survey-questions-fields {
  position: relative;

  .nested-fields-links {
    position: absolute;
    left: 2rem;
    bottom: 0rem;
  }
}

@media (max-width: 1440px) {
  .skin-gord-login {
    .login-footer {
      position: relative !important;
      width: 100% !important;
    }
  }
}
.file {
  border: none !important;
}
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.menu-div {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 999 !important ;
}

.page-title-div {
  position: fixed !important;
  top: 50px !important;
  width: 100% !important;
  z-index: 99 !important;
  // background: image-url('layout/gsas_trust_background.jpg') no-repeat center center fixed;
}

.skin-gord {
  .gord-transparent-green,
  .navbar-nav .dropdown-menu {
    background-color: $primary !important;
  }
}

.top-navigation .nav > li > a {
  padding: 15px 18px !important;
}

.skin-gord .navbar-nav .badge {
  background-color: #3b6506 !important;
}

#add-criterion-button,
#add-scheme-button {
  float: right;
  top: 24px;
  position: relative;
}
.top-navigation .nav > li > a {
  padding: 15px 13px !important;
  @media (max-width:992px){
    padding: 15px 8px !important;
  }
}

.ibox-title.ibox-dashboard-title {
  background: rgba(97, 166, 14, 0.5);
  color: $white;
  float: none;
  min-height: 28px !important;
  padding: 6px;
  text-align: center;
}
.ibox-title.ibox-dashboard-title h5 {
  float: none;
  height: 10px;
}

.dashboard-form .control-label {
  display: none;
}

.f-left {
  float: left;
}
.f-right {
  float: right;
  width: 50%;
}
.dashboard_file_label {
  width: 130px;
}
.b-word {
  word-break: break-word !important;
}

.skin-gord-login {
  background-image: url("layout/Cover Page_bg.jpg") !important;
  color: $white;
  .login-content .loginColumns .row .login-right {
    background-color: rgba(15, 44, 23, 0.8);
  }
  .container {
    @media (min-width: 1200px) {
      max-width: 75%;
    }
  }
}
.text-green {
  color: $primary !important;
}

.bg-transparent {
  background: transparent !important;
}
.loginColumns {
  max-width: 100%;
}
.new-user-content-box {
  margin: 0;
}
.login-banner-img {
  max-width: 50%;
}

.dots {
  display: flex;
  div {
    margin: 5px;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: #91bd83;
  }
}

.sign_up {
  background-color: #fff;
  .ibox-content {
    border: 0px;
  }
}
fieldset.scheduler-border {
  border: 1px groove #ebebeb5c !important;
}
.new_form {
  .form-control.select2-container {
    height: 38px !important;
    padding: 0;
  }
  .form-control.datepicker-past {
    width: calc(100% - 20px);
  }

  legend {
    color: #c1c1c1;
    background: #3c6e00;
    border-radius: 1rem;
  }

  .form-control,
  .single-line {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid rgba($gray-700, 0.8);
    padding: 1rem 0;
    height: auto;
    color: $white;
  }

  label {
    color: $gray-700;
    font-weight: 400;
  }

  label.required:after {
    line-height: 14px;
  }

  select option {
    background-color: $black;
    color: $white;
  }

  .file {
    background-color: transparent;
    color: $white;
    label {
      color: $primary;
    }
  }
  .form-inline {
    span {
      .fa {
        color: $white;
      }
    }
  }
}

// datepicker
.datepicker.dropdown-menu {
  background-color: $white;
}

.datepicker table tr td.today {
  background-color: $primary !important;
  border-color: $primary !important;
  color: $white !important;
  font-weight: 600;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.focused {
  background: $secondary !important;
  cursor: pointer !important;
}

.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
  background: $skin-gord-a-color !important;
  color: $white;
  cursor: pointer !important;
}

.bg-dark-green {
  background-color: rgba(15, 44, 23, 0.8);
}
hr {
  border: 0;
  border-top: 1px solid $gray-600;
}
.datepicker table tr td,
.datepicker table tr th {
  color: $black;
}
.bg-dark-green-solid {
  background-color: rgb(15, 44, 23);
}
.bg-black-light {
  background-color: rgba($black, 0.74);
}
.skin-gord {
  .select2-results .select2-no-results,
  .select2-results .select2-searching,
  .select2-results .select2-ajax-error,
  .select2-results .select2-selection-limit {
    background: $black;
    color: $white;
  }

  .select2-container .select2-choice .select2-arrow {
    border-left: 0;
    background: transparent;
  }

  .select2-drop {
    background: $black;
    color: $white;
  }

  .select2-drop.select2-drop-above.select2-drop-active {
    border-top: 0px;
  }

  .select2-drop-active {
    border: 0px solid $info;
    border-top: none;
  }

  .select2-results .select2-highlighted {
    background: $primary;
    color: $white;
  }

  .select2-search input {
    background: url("/assets/select2-d6b5d8d….png") no-repeat 100% -22px,
      linear-gradient(to bottom, $black 85%, $black 99%) 0 0;
  }

  .select2-dropdown-open.select2-drop-above .select2-choice,
  .select2-dropdown-open.select2-drop-above .select2-choices {
    background-image: none !important;
    border: 0 !important;
    border-radius: 0;
    border-bottom: 1px solid $primary !important;
    padding-left: 0;
  }

  .form-control.select2-container.select2-dropdown-open {
    border: 0 !important;
  }

  .form-control .select2-choice {
    border: 0;
    border-radius: 0px;
    text-decoration: none !important;
    background: transparent;
    height: 36px;
    line-height: 36px;
    padding-left: 0;
    color: $white;
    box-shadow: none;

    .select2-arrow b {
      background-position: 0 5px !important;
    }
  }

  .select2-results .select2-no-results,
  .select2-results .select2-searching,
  .select2-results .select2-ajax-error,
  .select2-results .select2-selection-limit {
    background: $black;
    color: $white;
  }

  .select2-container .select2-choice .select2-arrow {
    border-left: 0;
    background: transparent;
  }

  .new_form {
    .date-input {
      .form-inline {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .select2-drop {
      background: $black;
      color: $white;
    }

    .select2-drop.select2-drop-above.select2-drop-active {
      border-top: 0px;
    }

    .select2-drop-active {
      border: 0px solid $info;
      border-top: none;
    }

    .select2-results .select2-highlighted {
      background: $primary;
      color: $white;
    }

    .select2-search input {
      background: url("/assets/select2-d6b5d8d….png") no-repeat 100% -22px,
        linear-gradient(to bottom, $black 85%, $black 99%) 0 0;
    }

    .select2-dropdown-open.select2-drop-above .select2-choice,
    .select2-dropdown-open.select2-drop-above .select2-choices {
      background-image: none !important;
      border: 0 !important;
      border-radius: 0;
      border-bottom: 1px solid $primary !important;
      padding-left: 0;
    }

    .form-control.select2-container.select2-dropdown-open {
      border: 0 !important;
    }

    .form-control .select2-choice {
      border: 0;
      border-radius: 0px;
      text-decoration: none !important;
      background: transparent;
      height: 36px;
      line-height: 36px;
      padding-left: 0;
      color: $white;
      box-shadow: none;

      .select2-arrow b {
        background-position: 0 5px !important;
      }
    }
  }
}

.mw-100 {
  max-width: 100%;
}
.skin-gord.after-login {
  .container {
    @media (min-width: 1200px) {
      max-width: 95%;
    }
  }

  .select2-container .select2-choice {
    height: min(max(25px, 1.93vw), 35px);
    background-image: none;
    background-color: $white;
    border-color: $secondary;
    font-size: min(max(14px, 1.172vw), 18px);
    display: flex;
    align-items: center;
    width: 100%;
  }
  .select2-search input {
    background: url("/assets/select2.png") no-repeat 100% -22px,
      linear-gradient(to bottom, $white 85%, $border-color 99%) 0 0;
  }
  .select2-drop {
    background: $white;
    color: $black;
    font-size: min(max(14px, 1.172vw), 18px);
  }
  .select2-dropdown-open.select2-drop-above .select2-choice,
  .select2-dropdown-open.select2-drop-above .select2-choices {
    border: 1px solid $secondary;
    border-radius: 4px;
  }
  .select2-results .select2-no-results,
  .select2-results .select2-searching,
  .select2-results .select2-ajax-error,
  .select2-results .select2-selection-limit {
    color: $black;
    background-color: $white;
  }
}
.text-gray {
  color: #ddd;
}

.top-navbar {
  background-color: $secondary;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  .after-login-img {
    width: min(max(200px, 19.685vw), 377px);
    height: auto;
    min-width: 130px;
  }
  .navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: auto;
    padding: 1rem;
    height: min(max(60px, 5.208vw), 100px);
    @media (max-width: 768px) {
      width: 100%;
    }
    &::after,
    &::before {
      display: none;
    }
    .navbar-toggle {
      margin: 0;
    }
  }
  .navbar-collapse {
    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    ul.nav {
      margin: 0;
      padding: 0;
      display: flex;
      height: 100%;
      align-items: stretch;
      @media (max-width: 767px) {
        flex-direction: column;
        & li {
          max-width: unset !important;
          border-right: 0 !important;
          &:first-child {
            border-left: 0 !important;
          }
          &.active {
            border-radius: 1rem !important;
            margin-bottom: 0 !important;
          }
          & a {
            padding: 8px 15px !important;
            flex-direction: row !important;
            justify-content: start !important;
            & i {
              margin: 0.5rem 1rem !important;
            }
          }
          &.dropdown.open {
            a {
              border-radius: 1rem !important;
              margin-bottom: 0 !important;
            }
          }
        }
      }
      li:first-child {
        border-left: 1px solid $primary;
      }
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 150px;
        border-right: 1px solid $primary;
        .dropdown-open {
          background-color: $primary;
        }
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 100%;
          justify-content: center;
          color: $white;
          font-size: min(max(12px, 0.833vw), 16px);
          font-weight: 400;
          width: 100%;
          text-transform: uppercase;
          &:focus {
            background-color: $primary;
            i {
              color: $white;
            }
          }
          &:hover {
            background-color: #61a73026;

            i {
              color: $white;
            }
          }

          i {
            margin: 1.5rem 0;
            color: $primary;
          }
        }
        &.active {
          background-color: $primary;
          margin-bottom: -2rem;
          border-radius: 0 0 1rem;
          overflow: hidden;
          .normal-li {
            display: none;
            width: 50px;
          }
          .active-li {
            display: block;
            width: 50px;
          }
          i {
            color: $white;
          }
        }
        .active-li {
          display: none;
          width: 50px;
        }
        .normal-li {
          display: block;
          width: 50px;
        }
      }
    }
    .after-login-right-img {
      padding: 1rem;
      max-width: 170px;
      @media (max-width: 992px) {
        display: none;
      }
    }
  }
}

.top-navigation .navbar-nav .dropdown-menu {
  right: 0;
  position: absolute;
  left: auto;
  box-shadow: 1px 2px 15px #000 !important;
  li {
    max-width: 100% !important;
    margin-right: 0 !important;
  }
  @media (max-width: 767px) {
    left: 0;
    top: 110%;
    border-radius: 1rem !important;
  }
}
.nav .open > a {
  background-color: $primary !important;
}
.dataTable-pagination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  .col-sm-6 {
    &:first-child {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    &:last-child {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
  }
  .dataTables_entries {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    .dataTables_length {
      display: flex;
      align-items: center;
      select.input-sm {
        color: $gray-700;
        line-height: 1;
        border-radius: 4px;
        background: #fff
          url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
          right 0.75rem center/8px 10px no-repeat;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0 5px;
      }
    }
  }
  .dataTables_paginate {
    .pagination {
      margin: 0;
      .previous {
        a {
          background: $skin-gord-color-light;
          border-color: $skin-gord-color-light;
          color: $secondary;
        }
      }
      .next {
        a {
          background: $primary;
          border-color: $primary;
          color: $white;
        }
      }
    }
  }
}
.certi-name-badge {
  display: inline-block;
  width: 15px;
  margin-right: 10px;
  img {
    max-width: 100%;
  }
}
.certi-sub-status-badge {
  display: inline-block;
  width: 20px;
  margin-right: 10px;
  img {
    max-width: 100%;
  }
}
.certi-status-badge {
  display: inline-block;
  position: relative;
  width: 96px;
  padding: 3px 15px 3px 35px;
  border-radius: 2rem;
  white-space: nowrap;
  color: $white;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  background: $secondary;
  img {
    position: absolute;
    top: -3px;
    left: -1px;
    width: 28px;
  }
  .fa-star {
    color: $white;
    font-size: 13px;
  }
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background: $gray-500;
}