@font-face {
  font-family: "pf_din_text_universalbold";
  src: url(font_path("pfdintextuniversal-bold-webfont.eot"));
  src: url(font_path("pfdintextuniversal-bold-webfont.eot?#iefix")) format("embedded-opentype"),
    url(font_path("pfdintextuniversal-bold-webfont.woff2")) format("woff2"),
    url(font_path("pfdintextuniversal-bold-webfont.woff")) format("woff"),
    url(font_path("pfdintextuniversal-bold-webfont.ttf")) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pf_din_text_universalmedium";
  src: url(font_path("pfdintextuniversal-medium-webfont.eot"));
  src: url(font_path("pfdintextuniversal-medium-webfont.eot?#iefix")) format("embedded-opentype"),
    url(font_path("pfdintextuniversal-medium-webfont.woff2")) format("woff2"),
    url(font_path("pfdintextuniversal-medium-webfont.woff")) format("woff"),
    url(font_path("pfdintextuniversal-medium-webfont.ttf")) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pf_din_text_universalregular";
  src: url(font_path("pfdintextuniversal-regular-webfont.eot"));
  src: url(font_path("pfdintextuniversal-regular-webfont.eot?#iefix")) format("embedded-opentype"),
    url(font_path("pfdintextuniversal-regular-webfont.woff2")) format("woff2"),
    url(font_path("pfdintextuniversal-regular-webfont.woff")) format("woff"),
    url(font_path("pfdintextuniversal-regular-webfont.ttf")) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.skin-gord-login {
  $login-height: 100px;
  background: image-url("layout/gsas_trust_background.jpg") no-repeat center center fixed;
  background-size: cover;
  // select2 22-9-2022
  .select2-drop {
    background: $black;
    color: $white;
  }
  .select2-drop.select2-drop-above.select2-drop-active {
    border-top: 0px;
  }
  .select2-drop-active {
    border: 0px solid $info;
    border-top: none;
  }
  .select2-results .select2-highlighted {
    background: #61a60e;
    color: $white;
  }
  .select2-search input {
    background: url("/assets/select2-d6b5d8d….png") no-repeat 100% -22px,
      linear-gradient(to bottom, $black 85%, $black 99%) 0 0;
  }
  .select2-dropdown-open.select2-drop-above .select2-choice,
  .select2-dropdown-open.select2-drop-above .select2-choices {
    background-image: none !important;
    border: 0 !important;
    border-radius: 0;
    border-bottom: 1px solid #61a60e !important;
    padding-left: 0;
  }
  .form-control.select2-container.select2-dropdown-open {
    border: 0 !important;
  }
  .form-control .select2-choice {
    border: 0;
    border-radius: 0px;
    text-decoration: none !important;
    background: transparent;
    height: 36px;
    line-height: 36px;
    padding-left: 0;
    color: $white;
    box-shadow: none;
    .select2-arrow b {
      background-position: 0 5px !important;
    }
  }
  .select2-results .select2-no-results,
  .select2-results .select2-searching,
  .select2-results .select2-ajax-error,
  .select2-results .select2-selection-limit {
    background: $black;
    color: $white;
  }
  .select2-container .select2-choice .select2-arrow {
    border-left: 0;
    background: transparent;
  }
  .login-content {
    // margin-bottom: $login-height;
    min-height: 100vh;
    > .row {
      min-height: 100vh;
      @media (max-width: 992px) {
        flex-direction: column;
      }
    }
    .loginColumns {
      text-align: center;
      .top-title {
        color: $skin-gord-logo-blue;
        font-family: pf_din_text_universalregular;
        font-size: 16px;
        .separator {
          color: #79a44a;
        }
      }
      .row {
        margin-top: 16px;
        .login-left {
          text-align: left;
          background-color: transparent;
          color: $skin-gord-logo-blue;
          h1 {
            color: #93ab72;
            font-weight: 500;
            line-height: 130%;
          }
          .logo {
            width: 60%;
            min-width: 192px;
            max-width: 350px;
            margin: 2rem 0;
          }
        }
        .right-part {
          a.btn {
            border-radius: 3px !important;
            border: 1px solid #61a60e;
            font-weight: 600;
          }
          // max-width:500px;
          // margin:auto;
        }
        .right-signup {
          background: #6c9327c4;
          min-width: 200px;
          > .d-flex {
            margin-top: min(max(40px, 3.125vw), 60px);
          }
          .title {
          }
          h2 {
            font-weight: 600 !important;
          }
          h3 {
            line-height: 23px;
            font-weight: 100;
          }
          a.btn {
            border-radius: 3px !important;
            border: 1px solid #61a60e;
            font-weight: 600;
            // max-width: 100px;
            white-space: pre-wrap;
          }
        }
        .login-right {
          text-align: left;
          padding: 32px;
          color: $white;
          @media (min-width: 992px) {
            min-width: 400px;
          }
          .title {
            font-family: pf_din_text_universalbold;
            font-size: 24px;
            padding-top: 0;
          }
          .form {
            margin-top: 32px;
            button {
              background-color: #60ad45;
              font-size: min(max(16px, 1.25vw), 24px);
              box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
              box-shadow: none;
              border-radius: 3px !important;
            }
            input {
              color: $white;
              border: 0px;
              border-bottom: 1px solid #61a60e;
              background: transparent;
            }
            .input-group-addon {
              border-radius: 0;
              background: transparent;
              border: 0px;
              border-bottom: 1px solid #61a60e;
              padding-left: 0;
            }
          }
          .links {
            margin-top: 36px;
            a {
              color: $white;
              font-size: 14px;
            }
          }
        }
      }
    }
    a {
      text-decoration: underline;
    }
  }
  .login-footer {
    background-color: transparent;
    color: $white;
    padding: 0 3rem;
    a {
      color: $white;
      // border-left: 1px solid $white;
      padding-left: 4px;
      padding-right: 4px;
    }
    a:first-child {
      border-left: none;
    }
  }

  // icheck
  .icheckbox_square-green,
  .iradio_square-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 13px;
    height: 13px;
    background: image_url("check.png") no-repeat;
    // border: 1px solid;
    background-color: black;
    cursor: pointer;
  }

  .icheckbox_square-green {
    background-position: 0 0;
  }
  .icheckbox_square-green.hover {
    // background-position: -19px 0;
    // border: 1px solid;
  }
  .icheckbox_square-green.checked {
    background-position: -1px;
    background-size: 15px;
    border-color: $black;
    border: 0px;
    background-color: $white;
  }
  .icheckbox_square-green.disabled {
    background-position: 0;
    cursor: default;
  }
  .icheckbox_square-green.checked.disabled {
    background-position: -96px 0;
  }

  .iradio_square-green {
    background-position: -120px 0;
  }
  .iradio_square-green.hover {
    background-position: -144px 0;
  }
  .iradio_square-green.checked {
    background-position: -168px 0;
  }
  .iradio_square-green.disabled {
    background-position: -192px 0;
    cursor: default;
  }
  .iradio_square-green.checked.disabled {
    background-position: -216px 0;
  }
}

.skin-gord {
  // General
  // background: image-url('layout/gsas_trust_background.jpg') no-repeat center center fixed;
  // background-size: cover;

  .gord-transparent {
    background-color: transparent;
  }

  .gord-transparent-green {
    background-color: rgba($skin-gord-logo-green, 0.5);
    color: $white;
  }

  .navbar-header {
    img {
      max-height: 50px;
      background-color: $gray;
    }
  }
  .navbar-right {
    background: #61a60e;
    color: white;
    display: flex;
    margin-left: auto;
    width: 100%;
    justify-content: end;
    margin-right: 0;
    border: none;
    li {
      a {
        color: $white !important;
      }
    }
  }

  .navbar-nav {
    li:first-child {
      border-left: 1px solid $white;
    }
    li {
      border-right: 1px solid $white;
      a {
        color: $white;
      }
    }
    .dropdown-menu {
      background-color: rgba($skin-gord-logo-green, 0.5);
      border: none;
      li {
        border: none;
      }
    }
  }

  .page-heading {
    .back-button-wrapper {
      margin-top: 16px;
    }
  }
  .footer {
    border-top: none;
    background-color: rgba($skin-gord-logo-blue, 0.8);
    color: $white;
  }

  .container {
    width: 100%;
  }

  .breadcrumb {
    display: inline;
    background-color: transparent;
  }

  .breadcrumb a:hover {
    text-decoration: underline;
  }

  .navbar-nav {
    .badge {
      background-color: $skin-gord-color;
      color: $white;
      position: absolute;
      top: 8px;
      left: 28px;
    }
  }

  .narrow.middle-box {
    width: 342px;
  }

  .media-body {
    width: auto;
  }

  .back-button-wrapper {
    text-align: right;
  }

  .highlight {
    background-color: $skin-gord-color-light;
    color: $skin-gord-a-color;
  }

  .hr-line-dashed {
    margin: 10px 0;
  }

  .feed-element {
    margin: 0;
    padding: 10px 0;
  }

  .feed-element:first-child {
    padding-top: 0;
  }

  .feed-element .well {
    font-size: 12px;
  }

  .feed-element .user-comment-gsas-trust-team {
    font-style: italic;
    background-color: $skin-gord-color-gsas-trust-team-light;
  }

  .feed-element .user-comment-project-team {
    font-style: italic;
    background-color: $skin-gord-color-project-team-light;
  }

  .feed-element .text-muted {
    color: $text-color;
  }

  .feed-element .text-muted a {
    color: inherit;
  }

  .feed-element .text-muted a:hover {
    text-decoration: underline;
  }

  .input-group + .form-group {
    margin-top: 10px;
  }

  .gsas-trust-team {
    color: $white;
    background-color: $skin-gord-color-gsas-trust-team;
  }

  .project-team {
    color: $white;
    background-color: $skin-gord-color-project-team;
  }

  .project-certification-progress {
    font-style: italic;
  }

  .comment-form .help-block {
    padding-left: 40px;
  }

  // display a vertical scrollbar when modal box height is almost browser view height
  .modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
  }

  .modal-footer {
    text-align: left;
  }

  .fa-check-square-o,
  .table-users .fa-check {
    color: $success;
  }

  .fa-clock-o.due-date-expired,
  .table-users .fa-times {
    color: $danger;
  }

  .fa-star,
  .main-scheme-icon {
    color: #fc0;
  }

  .checkbox label {
    padding-left: 0;
  }

  // Toastr
  .toast-success {
    background-color: $skin-gord-color;
  }

  // Accordion table
  .accordion-toggle {
    cursor: pointer;
  }

  .accordion-body {
    background-color: $border-color;
  }

  .accordion-body table {
    background-color: transparent;
  }

  // Profile picture
  .profile-picture {
    height: 36px;
    margin-top: -15px;
    margin-bottom: -15px;
  }

  // Progress bars
  .progress-bar-max {
    color: $red;
    fill: $red;
  }

  .progress-bar-targeted {
    color: $warning;
    fill: $warning;
  }

  .progress-bar-submitted {
    color: $info;
    fill: $info;
  }

  .progress-bar-achieved {
    color: $info;
    fill: $info;
  }

  .progress-bar-tip {
    background: rgba($black, 0.8);
    border-radius: 2px;
    color: $white;
    line-height: 1;
    padding: 12px;
  }

  .progress-bar-tip:after {
    box-sizing: border-box;
    color: rgba($black, 0.8);
    content: "\25BC";
    display: inline;
    line-height: 1;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .progress-bar-tip.n:after {
    left: 0;
    margin: -1px 0 0 0;
    top: 100%;
  }

  .progress-bar text {
    dominant-baseline: middle;
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: $black;
  }

  .axis text {
    font: 10px sans-serif;
  }

  .legend text {
    font: 10px sans-serif;
  }

  // Panels
  .panel {
    border-radius: 0px;
    margin-bottom: 0px;
  }

  .panel-title {
    line-height: 18px;
  }

  // Buttons
  .btn.close.btn-white:hover {
    border: 0;
  }

  .btn.audit-log {
    background-color: $light-gray;
    color: $label-badget-color;
    border: 0;
    margin-left: 8px;
    padding: 3px 8px;
  }

  // Tooltips
  .tooltip-inner {
    background-color: $skin-gord-color;
    text-align: left;
    max-width: 350px;
  }

  .tooltip.top .tooltip-arrow {
    border-top-color: $skin-gord-color;
  }

  .tooltip.right .tooltip-arrow {
    border-right-color: $skin-gord-color;
  }

  .tooltip.bottom .tooltip-arrow {
    border-bottom-color: $skin-gord-color;
  }

  .tooltip.left .tooltip-arrow {
    border-left-color: $skin-gord-color;
  }

  .tooltip-icon {
    cursor: pointer;
    margin-left: 2px;
    color: $skin-gord-color;
  }

  // Maps
  .map {
    border: 1px solid $border-color;
    position: relative;
  }

  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  // Datatable
  table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
  table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    background-color: $skin-gord-color;
  }

  // Effective Datatables, Collapsed responsive view
  //table.dataTable > tbody > tr.child span.dtr-title { min-width: 175px; }
  table.dataTable > tbody > tr.child span.dtr-data {
    white-space: normal;
  }

  .dataTables_length {
    width: 250px;
    float: left;
  }

  .dataTables_filter {
    width: 250px;
    float: right;
  }

  .dataTables_wrapper {
    padding-bottom: 0;
  }

  // Show/Hide columns for effective datatables
  .dropdown-menu > .active > a {
    background-color: $skin-gord-color;
  }

  // icheck
  .icheckbox_square-green,
  .iradio_square-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: image_url("green.png") no-repeat;
    border: none;
    cursor: pointer;
  }

  .icheckbox_square-green {
    background-position: 0 0;
  }
  .icheckbox_square-green.hover {
    background-position: -24px 0;
  }
  .icheckbox_square-green.checked {
    background-position: -48px 0;
  }
  .icheckbox_square-green.disabled {
    background-position: -72px 0;
    cursor: default;
  }
  .icheckbox_square-green.checked.disabled {
    background-position: -96px 0;
  }

  .iradio_square-green {
    background-position: -120px 0;
  }
  .iradio_square-green.hover {
    background-position: -144px 0;
  }
  .iradio_square-green.checked {
    background-position: -168px 0;
  }
  .iradio_square-green.disabled {
    background-position: -192px 0;
    cursor: default;
  }
  .iradio_square-green.checked.disabled {
    background-position: -216px 0;
  }

  // Chosen
  .chosen-container {
    .chosen-single {
      background: none;
      border: 1px solid $light-gray;
      border-radius: 1px;
      color: inherit;
      padding: 6px 12px;
      transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    }
  }

  .chosen-container-single {
    .chosen-single {
      line-height: inherit;
    }
  }

  .chosen-container-active {
    .chosen-single {
      border-color: $navy !important;
    }
  }

  .chosen-container-active.chosen-with-drop {
    .chosen-single {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-bottomright: 0;
    }
  }

  table {
    tr.clickable {
      cursor: pointer;
    }
  }

  // Dropzone
  .dropzone {
    border: none;
    min-height: 0px;
    background: none;
    padding: 0;
  }

  .dropzone {
    #dropzone-top {
      border: 2px dashed $border-color;
      background-color: $gray-100;
      height: 100px;
      padding: 20px;
      cursor: pointer;
    }

    #render-dropzone-top {
      border: 2px dashed $border-color;
      background-color: $gray-100;
      height: 100px;
      padding: 20px;
      cursor: pointer;
    }

    .dz-message {
      font-size: 16px;
      text-align: center;
      margin: 18px 0;
    }

    #dropzone-previews {
      display: table;
      margin: 14px 0 0 0;
      border: none;
      border-left: 1px solid $border-color;
      border-top: 1px solid $border-color;
    }

    #render-dropzone-previews {
      display: table;
      margin: 14px 0 0 0;
      border: none;
      border-left: 1px solid $border-color;
      border-top: 1px solid $border-color;
    }

    #dropzone-bottom {
      .file-row {
        display: table-row;
      }

      .file-row > div {
        display: table-cell;
        vertical-align: top;
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        border-collapse: collapse;
        padding: 8px;
      }

      .file-row:nth-child(even) {
        background-color: $gray-100;
      }

      .file-row.dz-error {
        background-color: $gray;
      }

      .progress {
        border: 1px solid $border-color;
        margin-bottom: 0px;
      }

      .panel-heading {
        padding: 7px 8px;
        color: $gray-600;
        font-weight: 600;
      }

      .panel-body {
        padding: 10px;
        min-height: 76px;
      }
    }

    #render-dropzone-bottom {
      .file-row {
        display: table-row;
      }

      .file-row > div {
        display: table-cell;
        vertical-align: top;
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        border-collapse: collapse;
        padding: 8px;
      }

      .file-row:nth-child(even) {
        background-color: $gray-100;
      }

      .file-row.dz-error {
        background-color: $gray;
      }

      .progress {
        border: 1px solid $border-color;
        margin-bottom: 0px;
      }

      .panel-heading {
        padding: 7px 8px;
        color: $gray-600;
        font-weight: 600;
      }

      .panel-body {
        padding: 10px;
        min-height: 76px;
      }
    }
  }

  .dropzone.dz-drag-hover {
    border: none;
  }

  .dz-browser-not-supported #dropzone-top {
    display: none;
  }

  .dropzone.dz-drag-hover #dropzone-top {
    border: 2px solid $border-color;
  }

  #dropzone-uploading-notice {
    font-size: 14px;
    margin-top: 14px;
  }

  #render-dropzone-uploading-notice {
    font-size: 14px;
    margin-top: 14px;
  }

  #render-dropzone-modal {
    .modal-header {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  #dropzone-modal {
    .modal-header {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  .show-criteria-checkboxes {
    margin: 13px 0;
    width: 100%;
  }

  ul.checkbox-list {
    margin: 0;
    padding-left: 6px;
  }

  ul.checkbox-list {
    li {
      list-style: none;
      margin: 8px 0;
    }

    li a {
      color: $gray-600;
      font-weight: 600;
    }

    li ul {
      padding-left: 6px;
    }

    li label {
      font-weight: 300;
      display: inline;
    }
  }

  // Scheme mix criterion page
  form.edit_scheme_mix_criterion table tr .form-group {
    margin: 0;
  }

  .document-table {
    .btn {
      padding: 2px 7px;
      margin-top: -3px;
    }

    .document-awaiting-approval {
      @extend .alert-warning;
    }

    .document-awaiting-approval:hover {
      background-color: $gray-100;
    }

    .document-approved {
      @extend .alert-success;
    }

    .document-approved:hover {
      background-color: $gray-300;
    }

    .document-rejected {
      @extend .alert-danger;
    }

    .document-rejected:hover {
      background-color: $gray;
    }
  }

  #criterion-levels-table {
    td {
      min-width: 80px;
    }
  }

  .criterion-information {
    .subtitle {
      font-weight: 600;
      margin: 8px 0;
    }

    table {
      width: auto;
    }

    table p {
      margin: 0;
      padding: 0;
    }

    table tr:first-child {
      font-weight: 600;
      background-color: $gray-100;
    }

    .score table tr:not(:first-child) td:first-child {
      text-align: center;
    }

    ul,
    ol {
      padding: 0 0 0 14px;
    }
  }

  // Status
  .label-lg {
    font-size: 13px;
  }

  // Allocate responsibility tables
  .allocate-responsibility-table {
    tr th {
      background-color: $skin-gord-page-bg;
    }

    tr th.scheme-name {
      background-color: $label-badget-color;
      color: $white;
      text-align: center;
      text-transform: uppercase;
    }
  }

  // Audit logs
  .audit-log-modal {
    .add-comment-button {
      float: right;
      margin-top: -5px;
      margin-right: 10px;
    }
  }

  .user-comment {
    position: relative;

    .duplicate-comment-button {
      position: absolute;
      bottom: 3px;
      right: 5px;
    }

    .link-comments-button {
      position: absolute;
      bottom: 3px;
      right: 85px;
    }

    .unlink-comments-button {
      position: absolute;
      bottom: 3px;
      right: 45px;
    }
  }

  // Sortable list
  .sortable {
    .panel {
      cursor: move;
      margin-bottom: 10px;
    }
  }

  .non-sortable {
    .panel {
      margin-bottom: 10px;
    }
  }

  .sortable-placeholder {
    background-color: $gray-100;
    border: 1px dashed #ccc;
    height: 75px;
    margin-bottom: 10px;
  }

  // Timeline
  #vertical-timeline-legend {
    margin-right: 12px;
    float: right;
  }

  #vertical-timeline-legend {
    .vertical-timeline-legend-item {
      float: left;
      margin-left: 36px;
    }

    .description {
      font-size: 12px;
      margin-top: 2px;
    }

    .vertical-timeline-icon {
      display: inline;
      top: auto;
      left: auto;
      height: 24px;
      width: 24px;
      font-size: 10px;
      margin-left: -28px;
    }

    .vertical-timeline-icon i {
      height: 12px;
      width: 12px;
      margin-left: -6px;
      margin-top: -6px;
    }
  }

  #vertical-timeline {
    margin-top: 0;
    padding: 0;
    width: 100%;
    clear: both;
  }

  #vertical-timeline {
    .vertical-timeline-block {
      margin: 0 0 1.3em 0;
    }

    .vertical-timeline-block:last-child {
      margin: 0;
    }

    .vertical-timeline-block .vertical-timeline-content {
      padding: 0.6em 1em;
      opacity: 0.8;
    }

    .vertical-timeline-block:first-child .vertical-timeline-content {
      opacity: 1;
    }

    .vertical-timeline-content {
      p {
        font-size: 12px;
        margin: 0.5em 0 0 0;
      }

      h2 {
        font-size: 13px;
        font-weight: 600;
      }

      .text-muted {
        font-size: 10px;
        display: block;
        margin-top: -8px;
      }
    }
  }

  // Force labels of table detail rows, to not be placed next to the content
  table.dataTable > tbody > tr.child span.dtr-title {
    display: block;
  }

  .score-tabs {
    li {
      padding-left: 0px;
      padding-right: 0px;
      a {
        @extend .btn, .btn-xs;
      }
    }
    li:not(.active) {
      a {
        @extend .btn-white;
      }
    }
    li.active {
      a {
        @extend .btn-primary;
      }
    }
  }
  .score-graph {
    min-width: 200px;
    max-width: 300px;
  }

  .incentive-weight {
    font-size: smaller;
    font-style: italic;
  }

  #environment {
    font-size: 15px;
    font-weight: 60;
    text-transform: uppercase;
    color: $red;
    position: absolute;
    top: 12px;
    left: 35px;
    transform: rotate(-10deg);
    border: 2px solid $red;
    background-color: $white;
    opacity: 0.7;
  }

  /* RATINGS */
  .col-rating {
    text-align: left !important;
  }

  .label-rating {
    color: $white;
  }

  .label-rating-bronze {
    background-color: #ad7d4d;
  }

  .label-rating-silver {
    background-color: #b4b6b6;
  }

  .label-rating-gold {
    background-color: #ccaa43;
  }

  .label-rating-platinum {
    background-color: #6f7274;
  }

  .label-rating-diamond {
    background-color: $info;
  }

  .label-success {
    background-color: $skin-gord-color;
  }

  .label-rating-certification-denied,
  .label-danger {
    background-color: $red;
  }
}
