/* Only demo */

.d-none {
  display: none;
}

.new-user-content-box {
  margin: 2rem 1rem 20rem 1rem;
}

.cktext-area .col-sm-offset-2 {
  margin-left: unset !important;
}

.t-hr {
  margin: 2px 0 2px 0;
  padding: 0px;
}

.td-px-0 {
  padding-inline: 0px !important;
}

.table-py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.table-mb-0 {
  margin-bottom: 0px !important;
}

.table-mb-1 {
  margin-bottom: 1px !important;
}

.table-my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.table-p-0 {
  padding: 0px !important;
}

a.link-mr-2 {
  margin-right: 0.7rem !important;
}

.bg-header-grey {
  background-color: #f9f9f9;
}

.bg-header-white {
  background-color: #ffffff !important;
}

.project-details-table th {
   width: 180px;
}

.user-details-table th {
  width: 30%;
}

.mb-1rem {
  margin-bottom: 1rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

/* projects/index datatable custom css */
ul.dt-button-collection {
  .buttons-colvisGroup,
  .buttons-colvisRestore {
    clear: unset !important;
  }

  li.hover-disabled {
    a {
      pointer-events: none;

      &:hover, &:focus {
        background-color: unset !important;
        color: unset !important;
      }
    }
  }
}

tr.outline-danger {
  outline: 1px solid $red;
  box-shadow: 0 0 0 1px rgba(248, 18, 10, 0.308);
}

.bg-disabled {
  background-color: #eeeeee;
  opacity: 1;
}

label.required:after { 
  content: " *";
  color: #c34848;
  font-size: 16px;
}

form.user-form .icheckbox_square-green {
  margin-right: 1.2rem !important;
}

fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
          box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

.nested-fields .table-bordered {
  height: 274px;
}

.border-box-shadow {
  box-shadow: 10px 10px 5px #62a60a2b;
}

.survey-questions-fields {
  position: relative;
  
  .nested-fields-links {
    position: absolute;
    left: 2rem;
    bottom: 0rem;
  }
}

@media (max-width: 1440px) {
  .skin-gord-login {
    .login-footer {
      position: relative !important;
      width: 100%  !important;
    }
  }
}
.file{
  border: none !important
}
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.menu-div  {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 999 !important ;
}

.page-title-div{
  position: fixed !important;
  top: 50px !important;
  width: 100% !important;
  z-index: 99 !important;
  background: image-url('layout/gsas_trust_background.jpg') no-repeat center center fixed;
}

.top-navigation .wrapper.wrapper-content{
    margin-top: 144px !important;
}

.skin-gord {
 .gord-transparent-green,
 .navbar-nav .dropdown-menu {
    background-color: #62A60A !important;
  }
}

.top-navigation .nav > li > a{
  padding: 15px 18px !important;
}