/* Only demo */
.cktext-area .col-sm-offset-2 {
  margin-left: unset !important;
}

.t-hr {
  margin: 2px 0 2px 0;
  padding: 0px;
}

.td-px-0 {
  padding-inline: 0px !important;
}

.table-py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.table-mb-0 {
  margin-bottom: 0px !important;
}

.table-mb-1 {
  margin-bottom: 1px !important;
}

.table-my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.table-p-0 {
  padding: 0px !important;
}

a.link-mr-2 {
  margin-right: 0.7rem !important;
}

.bg-header-grey {
  background-color: #f9f9f9;
}

.bg-header-white {
  background-color: #ffffff !important;
}

.project-details-table th {
   width: 180px;
}

.mb-1rem {
  margin-bottom: 1rem;
}

@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}