/* Only demo */
.cktext-area .col-sm-offset-2 {
  margin-left: unset !important;
}

.t-hr {
  margin: 2px 0 2px 0;
  padding: 0px;
}

.td-px-0 {
  padding-inline: 0px !important;
}

.table-mb-0 {
  margin-bottom: 0px !important;
}

a.link-mr-2 {
  margin-right: 0.7rem !important;
}

@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}