<tr>
  <td style="padding: .75pt .75pt;">
    <p><span style='font-size: 18pt; font-family: "Verdana", "sans-serif"; color: #0B9ADC;'>Archive generated</span></p>
  </td>
</tr>
<tr>
  <td style="width: 650pt; border: solid #CCC 1pt; background: white; padding: 15pt 15pt;">
    <p>
            <span style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>Dear Ms/Mr<br/><br/>
              An archive with the following name was generated for you:<br/><br/>
              <strong><%= @archive.archive_file %></strong><br/><br/>
              Please log in to GSB Portal and click on the link below to download the file. This link is only available for user <strong><%= @archive.user.username %></strong> and will expire after one day.<br/><br/>
              <%= link_to(archive_url(@archive), archive_url(@archive)) %></span>
    </p>
    <br/>
    <p><span style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>With kind regards,</span></p>
  </td>
</tr>