<tr>
    <td style="padding: .75pt .75pt;">
        <p><span style='font-size: 18pt; font-family: "Verdana", "sans-serif"; color: #0B9ADC;'>User Update</span></p>
    </td>
</tr>
<tr>
    <td style="width: 650pt; border: solid #CCC 1pt; background: white; padding: 15pt 15pt;">
        <p>
            <span style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>Dear Ms/Mr<br/><br/>
            You are removed from project <%= @project.name %>.</span>
        </p>
        <br/>
        <p><span style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>With kind regards,</span></p>
    </td>
</tr>