<tr>
  <td style="padding: .75pt .75pt;">
      <p><span style='font-size: 18pt; font-family: "Verdana", "sans-serif"; color: #0B9ADC;'>Certification Certified</span></p>
  </td>
</tr>
<tr>
  <td style="width: 650pt; border: solid #CCC 1pt; background: white; padding: 15pt 15pt;">
    <p>
      <span style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>Dear Ms/Mr<br/><br/>
        The <b><%= @certification_path.name %></b> certification for project with name <b><%= @certification_path.project.name %></b> is certified.</span>
    </p>
    <br/>
    <p><span style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>With kind regards,</span></p>
  </td>
</tr>