<%
  service_provider = if certification_path.present? && certification_path.persisted? && certification_path&.is_design_fdc? 
                        project.service_provider_2
                      else
                        project.service_provider
                      end
%>
<table class="table table-striped table-hover datatable table-mb-0" cellspacing="0" width="100%">
  <tbody>
    <tr class="bg-header-white">
      <td>
        <span style="margin: 0 2rem 0 1rem;"><b><%= Project.human_attribute_name('service_provider') %></b></span>
        <%= service_provider %>
      </td>
    </tr>
  </tbody>
</table>
