<div class="table-responsive">
<table class="table table-bordered table-mb-0" cellspacing="0" width="100%">
  <tbody>
    <tr class=" ngTopPanel">
      <th style="width: 50%; padding-left: 2rem;">
        <%= Project.human_attribute_name('service_provider') %>
      </th>
      <td>
        <%= project.service_provider %>
      </td>
    </tr>
  </tbody>
</table>
</div>
