<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><%= t('.title_html') %></h5>
            </div>
            <div class="ibox-content">
                <%= render_datatable(@datatable) %>
                <% if can? :create, Project.new %>
                    <div class="hr-line-dashed"></div>
                    <%= btn_link_to(new_project_path, icon: 'building-o', text: t('.btn_new_project')) %>
                <% end %>
            </div>
        </div>
    </div>
</div>
