<div class="row">
    <div class="<%= @datatable_projects.present? ? 'col-md-12' : 'col-md-12' %>">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Certificates overview</h5>
            </div>
            <div class="ibox-content">
                <%= render_datatable(@datatable_certificates) %>
                <div class="hr-line-dashed fa-"></div>
                <% if can? :create, Project.new(owner_id: current_user.id) %>
                    <%= btn_link_to(new_project_path, icon: 'building-o', text: 'New project') %>
                <% end %>
            </div>
        </div>
    </div>

    <% if @datatable_empty_projects.present? %>
        <div class="col-md-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Empty Projects</h5>
                </div>
                <div class="ibox-content">
                    <%= render_datatable(@datatable_empty_projects) %>
                </div>
            </div>
        </div>
    <% end %>
</div>
