<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Projects &amp; certificates</h5>
            </div>
            <div class="ibox-content">
                <%= render_datatable(@datatable) %>
                <div class="hr-line-dashed fa-"></div>
                <% if can? :create, Project.new(owner_id: current_user.id) %>
                    <%= btn_link_to(new_project_path, icon: 'building-o', text: 'New project') %>
                <% end %>
            </div>
        </div>
    </div>
</div>
