<%# <div class="row"> %>
    <div class="col-md-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Project Tools</h5>
            </div>
            <div class="ibox-content">
		    <!--div class="app_container_1" data-project-id="<%= @project.id %>"></div-->
		    <div id="building-properties" class="row"></div>
            </div>
        </div>
    </div>
<%# </div> %>
<%= javascript_include_tag 'project_tools_library' %>
<%= javascript_include_tag 'orbitcontrols' %>
