 <div class="nested-fields col-md-3" >
  <div class="table-bordered p-m m-t-md border-box-shadow" style="height:317px !important">
    <div class="text-right">
      <%= link_to_remove_association "X", f, class: "btn btn-danger btn-sm m-t" %>
    </div>
    <%= f.input :name, required: true %>
    <%= f.input :code, required: true %>
    <%= f.input :score, required: true %>
  </div>
</div>