<div class="nested-fields">
  <div class="p-m">
    <%= f.text_field :option_text %>

    <%= f.number_field :score %>
  </div>

  <%= link_to_remove_association "Remove Option", f, class: "btn btn-danger btn-sm m-t" %>
</div>