// Main colors
$skin-gord-logo-green: #61A60E;
$skin-gord-logo-blue: #303E48;
$skin-gord-color: #62A60A;
$skin-gord-color-light: #E5FACF;
$skin-gord-nav-bg: #6fa428;
$skin-gord-a-color: #3b5c15;
$skin-gord-page-bg: #f4f6fa;
$skin-gord-color-project-team: $skin-gord-color;
$skin-gord-color-gsas-trust-team: $yellow;
$skin-gord-color-project-team-light: $skin-gord-color-light;
$skin-gord-color-gsas-trust-team-light: #f8ebac;

// Text Color
$text-color: #000;           // Body text

// Basic Colors used in Inspinia
$navy: $skin-gord-color;           // Primary color
$blue: $skin-gord-a-color;           // Success color
$lazur: $skin-gord-nav-bg;          // Info color
