<%# <div class="row"> %>
    <div class="col-md-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5><%=t '.table_title' %></h5>
            </div>
            <div class="ibox-content">
                <%= render_datatable(@datatable) %>
            </div>
        </div>
        <%= btn_link_to(survey_dashboard_index_path, icon: 'backward', text: 'DashBoard') %>
    </div>
<%# </div> %>

<div id="toast-message"></div>