<div class="col-md-12">
    <div class="ibox">
        <div class="ibox-content" id="offline-projects-table" data-user-role="<%= current_user.role %>">
            <%= render_datatable(@datatable) %>
                <div class="hr-line-dashed"></div>
                <%= btn_link_to(new_offline_project_path, icon: 'building-o', text: t('.btn_new_project')) %>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        if(<%= current_user.is_record_checker? %>) {
            $('.btn-group').find('.buttons-copy, .buttons-csv, .buttons-print').css('display', 'none')
            $('.ibox-content').addClass('unselectable')
            $(document).on('keydown', function(e) {
                if((e.ctrlKey || e.metaKey) && (e.key == "p" || e.charCode == 16 || e.charCode == 112 || e.keyCode == 80) ){
                    e.cancelBubble = true;
                    e.preventDefault();
                    e.stopImmediatePropagation();
                }  
            });
        }
        $('.dataTables_entries').parent().closest('div').addClass('dataTable-pagination');
    });
</script>

<style>
    .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>