<div class="col-lg-12">
  <% question.question_options.each do |option| %>
    <%= question_response.radio_button :value, option.option_text,class: 'custom-radio', required: question.mandatory ? true : false, label: option.option_text %>
  <% end %>
</div>