<div class="ibox">
    <div class="ibox-content new-user-content-box">
      <h2><%= t('survey_response.thankyou.title' ) %></h2>
      <p>That is the end of the survey. Thank you for taking the time to complete.</p> 
  </div>
</div>