<style>
  body.skin-gord-login{
    background-color: #3a4f57 !important; 
    background-image:none !important;
    color: #3a4f57 !important;
  }
</style>
<div class="ibox p-5 m-4 new_form">
    <div class="ibox-content new-user-content-box">
      <h2 class="text-green my-4"><%= t('survey_response.thankyou.title' ) %></h2>
      <p>That is the end of the survey. Thank you for taking the time to complete.</p> 
  </div>
</div>