.skin-gord {
  // General
  .container {
    width: 100%;
  }

  .media-body {
    width: auto;
  }

  .back-button-wrapper {
    text-align: right;
  }

  .highlight {
    background-color: $skin-gord-color-light;
    color: $skin-gord-a-color;
  }

  .feed-element {
    margin: 0;
    padding: 10px 0;
  }

  .feed-element:first-child {
    padding-top: 0;
  }

  .feed-element .well {
    font-size: 12px;
  }

  .feed-element .user-comment {
    font-style: italic;
  }

  .project-certification-progress {
    font-style: italic;
  }

  // display a vertical scrollbar when modal box height is almost browser view height
  .modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
  }

  .fa-check-square-o {
    color: green;
  }

  .fa-clock-o.due-date-expired {
    color: red;
  }

  .fa-star {
    color: #fc0;
  }

  .checkbox label {
    padding-left: 0;
  }

  // Toastr
  .toast-success {
    background-color: $skin-gord-color;
  }

  // Accordion table
  .accordion-toggle {
    cursor: pointer;
  }

  .accordion-body {
    background-color: #eee;
  }

  .accordion-body table {
    background-color: transparent;
  }

  // Progress bars
  .progress-bar-max {
    color: #ff3333;
    fill: #ff3333;
  }

  .progress-bar-targeted {
    color: #6fa428;
    fill: #6fa428;
  }

  .progress-bar-submitted {
    color: #5bc0de;
    fill: #5bc0de;
  }

  .progress-bar-achieved {
    color: #ffaf00;
    fill: #ffaf00;
  }

  .progress-bar-tip {
    background: rgba(0,0,0,0.8);
    border-radius: 2px;
    color: #fff;
    line-height: 1;
    padding: 12px;
  }

  .progress-bar-tip:after {
    box-sizing: border-box;
    color: rgba(0,0,0,0.8);
    content: "\25BC";
    display: inline;
    line-height: 1;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .progress-bar-tip.n:after {
    left: 0;
    margin: -1px 0 0 0;
    top: 100%;
  }

  .progress-bar text {
    dominant-baseline: middle;
    font: 10px sans-serif;
  }

  .axis path, .axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: black;
  }

  .axis text {
    font: 10px sans-serif;
  }

  .legend text {
    font: 10px sans-serif;
  }

  // Panels
  .panel {
    border-radius: 0px;
    margin-bottom: 0px;
  }

  .panel-title {
    line-height: 18px;
  }

  // Tooltips
  .tooltip-inner {
    background-color: $skin-gord-color;
    text-align: left;
    max-width: 350px;
  }

  .tooltip.top .tooltip-arrow {
    border-top-color: $skin-gord-color;
  }

  .tooltip.right .tooltip-arrow {
    border-right-color: $skin-gord-color;
  }

  .tooltip.bottom .tooltip-arrow {
    border-bottom-color: $skin-gord-color;
  }

  .tooltip.left .tooltip-arrow {
    border-left-color: $skin-gord-color;
  }

  .tooltip-icon {
    cursor: pointer;
    margin-left: 2px;
    color: $skin-gord-color;
    font-size: 14px;
  }

  // Maps
  .map {
    border: 1px solid $border-color;
    position: relative;
  }

  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  // Datatable
  .dataTables_length {
    width: 250px;
    float:left;
  }

  .dataTables_filter {
    width: 250px;
    float: right;
  }

  // icheck
  .icheckbox_square-green,
  .iradio_square-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: image_url('green.png') no-repeat;
    border: none;
    cursor: pointer;
  }

  .icheckbox_square-green {
    background-position: 0 0;
  }
  .icheckbox_square-green.hover {
    background-position: -24px 0;
  }
  .icheckbox_square-green.checked {
    background-position: -48px 0;
  }
  .icheckbox_square-green.disabled {
    background-position: -72px 0;
    cursor: default;
  }
  .icheckbox_square-green.checked.disabled {
    background-position: -96px 0;
  }

  .iradio_square-green {
    background-position: -120px 0;
  }
  .iradio_square-green.hover {
    background-position: -144px 0;
  }
  .iradio_square-green.checked {
    background-position: -168px 0;
  }
  .iradio_square-green.disabled {
    background-position: -192px 0;
    cursor: default;
  }
  .iradio_square-green.checked.disabled {
    background-position: -216px 0;
  }

  // Chosen
  .chosen-container {
    .chosen-single {
      background: none;
      border: 1px solid #e5e6e7;
      border-radius: 1px;
      color: inherit;
      padding: 6px 12px;
      transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    }
  }

  .chosen-container-single {
    .chosen-single {
      line-height: inherit;
    }
  }

  .chosen-container-active {
    .chosen-single {
      border-color: $navy !important;
    }
  }

  .chosen-container-active.chosen-with-drop {
      .chosen-single {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        -moz-border-radius-bottomleft: 0;
        -moz-border-radius-bottomright: 0;
      }
  }

  table {
    tr.clickable {
      cursor: pointer;
    }
  }

  // Dropzone
  .dropzone {
    border: none;
    min-height: 0px;
    background: none;
    padding: 0;
  }

  .dropzone {
    #dropzone-top {
      border: 2px dashed #e7eaec;
      background-color: #f9f9f9;
      height: 100px;
      padding: 20px;
      cursor: pointer;
    }

    .dz-message {
      font-size: 16px;
      text-align: center;
      margin: 18px 0;
    }

    #dropzone-previews {
      display: table;
      margin: 14px 0 0 0;
      border: none;
      border-left: 1px solid #e7eaec;
      border-top: 1px solid #e7eaec;
    }

    #dropzone-bottom {
      .file-row {
        display: table-row;
      }

      .file-row > div {
        display: table-cell;
        vertical-align: top;
        border-right: 1px solid #e7eaec;
        border-bottom: 1px solid #e7eaec;
        border-collapse: collapse;
        padding: 8px;
      }

      .file-row:nth-child(even) {
        background-color: #f9f9f9;
      }

      .file-row.dz-error {
        background-color: #f2dede;
      }

      .progress {
        border: 1px solid #e7eaec;
        margin-bottom: 0px;
      }

      .panel-heading {
        padding: 7px 8px;
        color: #676a6c;
        font-weight: 600;
      }

      .panel-body {
        padding: 10px;
        min-height: 76px;
      }
    }
  }

  .dropzone.dz-drag-hover {
    border: none;
  }

  .dz-browser-not-supported #dropzone-top {
    display: none;
  }

  .dropzone.dz-drag-hover #dropzone-top {
    border: 2px solid #e7eaec;
  }

  #dropzone-uploading-notice {
    font-size: 14px;
    margin-top: 14px;
  }

  #dropzone-modal {
    .modal-header {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  #documents-select-criteria {
    margin: 13px 0;
    width: 100%;
  }

  ul.checkbox-list {
    margin: 0;
    padding-left: 6px;
  }

  ul.checkbox-list {
    li {
      list-style: none;
      margin: 8px 0;
    }

    li a {
      color: #676a6c;
      font-weight: 600;
    }

    li ul {
      padding-left: 6px;
    }

    li label {
      font-weight: normal;
      display: inline;
    }
  }

  // Scheme mix criterion page
  form.edit_scheme_mix_criterion table tr .form-group {
    margin: 0;
  }

  .document-table {
    .document-awaiting-approval {
      @extend .alert-warning;
    }

    .document-awaiting-approval:hover {
      background-color: #FDF6D6;
    }

    .document-approved {
      @extend .alert-success;
    }

    .document-approved:hover {
      background-color: #D8F5CD;
    }

    .document-rejected {
      @extend .alert-danger;
    }

    .document-rejected:hover {
      background-color: #F1D0D0;
    }

    .document-superseded {
      color: #ccc;
      background-color: #fff;
    }

    .document-superseded:hover {
      background-color: #FBFBFB;
    }
  }

  .criterion-information {
    .subtitle {
      font-weight: bold;
      margin: 8px 0;
    }

    table {
      width: auto;
    }

    table p {
      margin: 0;
      padding: 0;
    }

    table tr:first-child {
      font-weight: bold;
      background-color: #f9f9f9;
    }

    .score table tr:not(:first-child) td:first-child {
      text-align: center;
    }

    ul, ol {
      padding: 0 0 0 14px;
    }

    li {
      list-style: none;
    }
  }

  // Status
  .label-lg {
    font-size: 13px;
  }

  .document-details {
    .status-awaiting-approval {
      @extend .alert-warning;
    }

    .status-approved {
      @extend .alert-success;
    }

    .status-rejected {
      @extend .alert-danger;
    }

    .status-superseded {
    }
  }

  .criterion-details {
    .status-complete {
      @extend .alert-warning;
    }

    .status-approved {
      @extend .alert-success;
    }

    .status-in-progress {
    }

    .status-resubmit {
    }
  }

  // Allocate responsibility modals
  .allocate-responsibility-modal {
    table {
      font-size: 12px;
    }

    table tr th {
      background-color: #F5F5F6;
    }
  }

  // Audit logs
  .audit-log-modal {
    .add-comment-button {
      float: right;
      margin-top: -5px;
      margin-right: 10px;
    }
  }
}