.skin-gord {
  // General
  .container {
    width: 100%;
  }

  .breadcrumb {
    display: inline;
    background-color: transparent;
  }

  .breadcrumb a:hover {
    text-decoration: underline;
  }

  .navbar-nav {
    .badge {
      background-color: $skin-gord-color;
      color: #FFF;
      position: absolute;
      top: 8px;
      left: 28px;
    }
  }

  .narrow.middle-box {
      width: 342px;
  }

  .media-body {
    width: auto;
  }

  .back-button-wrapper {
    text-align: right;
  }

  .highlight {
    background-color: $skin-gord-color-light;
    color: $skin-gord-a-color;
  }

  .hr-line-dashed {
    margin: 10px 0;
  }

  .feed-element {
    margin: 0;
    padding: 10px 0;
  }

  .feed-element:first-child {
    padding-top: 0;
  }

  .feed-element .well {
    font-size: 12px;
  }

  .feed-element .user-comment-gord-team {
    font-style: italic;
    background-color: $skin-gord-color-gord-team-light;
  }

  .feed-element .user-comment-project-team {
    font-style: italic;
    background-color: $skin-gord-color-project-team-light;
  }

  .feed-element .text-muted {
    color: $text-color;
  }

  .feed-element .text-muted a {
    color: inherit;
  }

  .feed-element .text-muted a:hover {
    text-decoration: underline;
  }

  .input-group + .form-group {
    margin-top: 10px;
  }

  .gord-team {
    color: #ffffff;
    background-color: $skin-gord-color-gord-team;
  }

  .project-team {
    color: #ffffff;
    background-color: $skin-gord-color-project-team;
  }

  .project-certification-progress {
    font-style: italic;
  }

  // display a vertical scrollbar when modal box height is almost browser view height
  .modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
  }

  .modal-footer {
    text-align: left;
  }

  .fa-check-square-o, .table-users .fa-check {
    color: green;
  }

  .fa-clock-o.due-date-expired, .table-users .fa-times {
    color: red;
  }

  .fa-star, .main-scheme-icon {
    color: #fc0;
  }

  .checkbox label {
    padding-left: 0;
  }

  // Toastr
  .toast-success {
    background-color: $skin-gord-color;
  }

  // Accordion table
  .accordion-toggle {
    cursor: pointer;
  }

  .accordion-body {
    background-color: #eee;
  }

  .accordion-body table {
    background-color: transparent;
  }

  // Progress bars
  .progress-bar-max {
    color: #ff3333;
    fill: #ff3333;
  }

  .progress-bar-targeted {
    color: #6fa428;
    fill: #6fa428;
  }

  .progress-bar-submitted {
    color: #5bc0de;
    fill: #5bc0de;
  }

  .progress-bar-achieved {
    color: #ffaf00;
    fill: #ffaf00;
  }

  .progress-bar-tip {
    background: rgba(0,0,0,0.8);
    border-radius: 2px;
    color: #fff;
    line-height: 1;
    padding: 12px;
  }

  .progress-bar-tip:after {
    box-sizing: border-box;
    color: rgba(0,0,0,0.8);
    content: "\25BC";
    display: inline;
    line-height: 1;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .progress-bar-tip.n:after {
    left: 0;
    margin: -1px 0 0 0;
    top: 100%;
  }

  .progress-bar text {
    dominant-baseline: middle;
    font: 10px sans-serif;
  }

  .axis path, .axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: black;
  }

  .axis text {
    font: 10px sans-serif;
  }

  .legend text {
    font: 10px sans-serif;
  }

  // Panels
  .panel {
    border-radius: 0px;
    margin-bottom: 0px;
  }

  .panel-title {
    line-height: 18px;
  }

  // Buttons
  .btn.close.btn-white:hover {
    border: 0;
  }

  .btn.audit-log {
    background-color: $light-gray;
    color: $label-badget-color;
    border: 0;
    margin-left: 8px;
    padding: 3px 8px;
  }

  // Tooltips
  .tooltip-inner {
    background-color: $skin-gord-color;
    text-align: left;
    max-width: 350px;
  }

  .tooltip.top .tooltip-arrow {
    border-top-color: $skin-gord-color;
  }

  .tooltip.right .tooltip-arrow {
    border-right-color: $skin-gord-color;
  }

  .tooltip.bottom .tooltip-arrow {
    border-bottom-color: $skin-gord-color;
  }

  .tooltip.left .tooltip-arrow {
    border-left-color: $skin-gord-color;
  }

  .tooltip-icon {
    cursor: pointer;
    margin-left: 2px;
    color: $skin-gord-color;
  }

  // Maps
  .map {
    border: 1px solid $border-color;
    position: relative;
  }

  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  // Datatable
  table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    background-color: $skin-gord-color;
  }

  // Effective Datatables, Collapsed responsive view
  //table.dataTable > tbody > tr.child span.dtr-title { min-width: 175px; }
  table.dataTable > tbody > tr.child span.dtr-data { white-space: normal; }

  .dataTables_length {
    width: 250px;
    float:left;
  }

  .dataTables_filter {
    width: 250px;
    float: right;
  }

  .dataTables_wrapper {
    padding-bottom: 0;
  }

  // Show/Hide columns for effective datatables
  .dropdown-menu > .active > a {
    background-color: $skin-gord-color;
  }

  // icheck
  .icheckbox_square-green,
  .iradio_square-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: image_url('green.png') no-repeat;
    border: none;
    cursor: pointer;
  }

  .icheckbox_square-green {
    background-position: 0 0;
  }
  .icheckbox_square-green.hover {
    background-position: -24px 0;
  }
  .icheckbox_square-green.checked {
    background-position: -48px 0;
  }
  .icheckbox_square-green.disabled {
    background-position: -72px 0;
    cursor: default;
  }
  .icheckbox_square-green.checked.disabled {
    background-position: -96px 0;
  }

  .iradio_square-green {
    background-position: -120px 0;
  }
  .iradio_square-green.hover {
    background-position: -144px 0;
  }
  .iradio_square-green.checked {
    background-position: -168px 0;
  }
  .iradio_square-green.disabled {
    background-position: -192px 0;
    cursor: default;
  }
  .iradio_square-green.checked.disabled {
    background-position: -216px 0;
  }

  // Chosen
  .chosen-container {
    .chosen-single {
      background: none;
      border: 1px solid #e5e6e7;
      border-radius: 1px;
      color: inherit;
      padding: 6px 12px;
      transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    }
  }

  .chosen-container-single {
    .chosen-single {
      line-height: inherit;
    }
  }

  .chosen-container-active {
    .chosen-single {
      border-color: $navy !important;
    }
  }

  .chosen-container-active.chosen-with-drop {
      .chosen-single {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        -moz-border-radius-bottomleft: 0;
        -moz-border-radius-bottomright: 0;
      }
  }

  table {
    tr.clickable {
      cursor: pointer;
    }
  }

  // Dropzone
  .dropzone {
    border: none;
    min-height: 0px;
    background: none;
    padding: 0;
  }

  .dropzone {
    #dropzone-top {
      border: 2px dashed #e7eaec;
      background-color: #f9f9f9;
      height: 100px;
      padding: 20px;
      cursor: pointer;
    }

    .dz-message {
      font-size: 16px;
      text-align: center;
      margin: 18px 0;
    }

    #dropzone-previews {
      display: table;
      margin: 14px 0 0 0;
      border: none;
      border-left: 1px solid #e7eaec;
      border-top: 1px solid #e7eaec;
    }

    #dropzone-bottom {
      .file-row {
        display: table-row;
      }

      .file-row > div {
        display: table-cell;
        vertical-align: top;
        border-right: 1px solid #e7eaec;
        border-bottom: 1px solid #e7eaec;
        border-collapse: collapse;
        padding: 8px;
      }

      .file-row:nth-child(even) {
        background-color: #f9f9f9;
      }

      .file-row.dz-error {
        background-color: #f2dede;
      }

      .progress {
        border: 1px solid #e7eaec;
        margin-bottom: 0px;
      }

      .panel-heading {
        padding: 7px 8px;
        color: #676a6c;
        font-weight: 600;
      }

      .panel-body {
        padding: 10px;
        min-height: 76px;
      }
    }
  }

  .dropzone.dz-drag-hover {
    border: none;
  }

  .dz-browser-not-supported #dropzone-top {
    display: none;
  }

  .dropzone.dz-drag-hover #dropzone-top {
    border: 2px solid #e7eaec;
  }

  #dropzone-uploading-notice {
    font-size: 14px;
    margin-top: 14px;
  }

  #dropzone-modal {
    .modal-header {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  .show-criteria-checkboxes {
    margin: 13px 0;
    width: 100%;
  }

  ul.checkbox-list {
    margin: 0;
    padding-left: 6px;
  }

  ul.checkbox-list {
    li {
      list-style: none;
      margin: 8px 0;
    }

    li a {
      color: #676a6c;
      font-weight: 600;
    }

    li ul {
      padding-left: 6px;
    }

    li label {
      font-weight: normal;
      display: inline;
    }
  }

  // Scheme mix criterion page
  form.edit_scheme_mix_criterion table tr .form-group {
    margin: 0;
  }

  .document-table {
    .btn {
      padding: 2px 7px;
      margin-top: -3px;
    }

    .document-awaiting-approval {
      @extend .alert-warning;
    }

    .document-awaiting-approval:hover {
      background-color: #FDF6D6;
    }

    .document-approved {
      @extend .alert-success;
    }

    .document-approved:hover {
      background-color: #D8F5CD;
    }

    .document-rejected {
      @extend .alert-danger;
    }

    .document-rejected:hover {
      background-color: #F1D0D0;
    }

    .document-superseded {
      color: #ccc;
      background-color: #fff;
    }

    .document-superseded:hover {
      background-color: #FBFBFB;
    }
  }

  .criterion-information {
    .subtitle {
      font-weight: bold;
      margin: 8px 0;
    }

    table {
      width: auto;
    }

    table p {
      margin: 0;
      padding: 0;
    }

    table tr:first-child {
      font-weight: bold;
      background-color: #f9f9f9;
    }

    .score table tr:not(:first-child) td:first-child {
      text-align: center;
    }

    ul, ol {
      padding: 0 0 0 14px;
    }

    li {
      list-style: none;
    }
  }

  // Status
  .label-lg {
    font-size: 13px;
  }

  // Allocate responsibility tables
  .allocate-responsibility-table {
    tr th {
      background-color: #F5F5F6;
    }

    tr th.scheme-name {
      background-color: #888;
      color: #FFF;
      text-align: center;
      text-transform: uppercase;
    }
  }

  // Audit logs
  .audit-log-modal {
    .add-comment-button {
      float: right;
      margin-top: -5px;
      margin-right: 10px;
    }
  }

  // Sortable list
  .sortable {
    .panel {
      cursor: move;
      margin-bottom: 10px;
    }
  }

  .sortable-placeholder {
    background-color: #f9f9f9;
    border: 1px dashed #ccc;
    height: 75px;
    margin-bottom: 10px;
  }

  // Timeline
  #vertical-timeline-legend {
    margin-right: 12px;
    float: right;
  }

  #vertical-timeline-legend {
    .vertical-timeline-legend-item {
      float: left;
      margin-left: 36px;
    }

    .description {
      font-size: 12px;
      margin-top: 2px;
    }

    .vertical-timeline-icon {
      display: inline;
      top: auto;
      left: auto;
      height: 24px;
      width: 24px;
      font-size: 10px;
      margin-left: -28px;
    }

    .vertical-timeline-icon i {
      height: 12px;
      width: 12px;
      margin-left: -6px;
      margin-top: -6px;
    }
  }

  #vertical-timeline {
    margin-top: 0;
    padding: 0;
    width: 100%;
    clear: both;
  }

  #vertical-timeline {
    .vertical-timeline-block {
      margin: 0 0 1.3em 0;
    }

    .vertical-timeline-block:last-child {
      margin: 0;
    }

    .vertical-timeline-block .vertical-timeline-content {
      padding: 0.6em 1em;
      opacity: 0.8;
    }

    .vertical-timeline-block:first-child .vertical-timeline-content {
      opacity: 1;
    }

    .vertical-timeline-content {
      p {
        font-size: 12px;
        margin: 0.5em 0 0 0;
      }

      h2 {
        font-size: 13px;
        font-weight: bold;
      }

      .text-muted {
        font-size: 10px;
        display: block;
        margin-top: -8px;
      }
    }
  }

  // Force labels of table detail rows, to not be placed next to the content
  table.dataTable > tbody > tr.child span.dtr-title {
    display: block;
  }

  .score-tabs  {
    li {
      padding-left: 0px;
      padding-right: 0px;
      a {
        @extend .btn, .btn-xs;
      }
    }
    li:not(.active) {
      a {
        @extend .btn-white;
      }
    }
    li.active {
      a {
        @extend .btn-primary;
      }
    }
  }
  .score-graph {
    min-width: 200px;
    max-width: 300px;
  }

  .incentive-weight {
    font-size: smaller;
    font-style: italic;
  }
}

