// Main colors
$skin-gord-color: #62A60A;
$skin-gord-color-light: #E5FACF;
$skin-gord-nav-bg: #6fa428;
$skin-gord-a-color: #3b5c15;
$skin-gord-page-bg: #f4f6fa;

// Text Color
$text-color: #1e1f20;           // Body text

// Basic Colors used in Inspinia
$navy: $skin-gord-color;           // Primary color
$blue: $skin-gord-a-color;           // Success color
$lazur: $skin-gord-nav-bg;          // Info color
