// Main colors
$skin-gord-color: #62A60A;
$skin-gord-color-light: #F8FBF2;
$skin-gord-nav-bg: #6fa428;
$skin-gord-a-color: #3b5c15;
$skin-gord-page-bg: #f4f6fa;


// Basic Colors used in Inspinia
$navy: $skin-gord-color;           // Primary color
$blue: $skin-gord-a-color;           // Success color
$lazur: $skin-gord-nav-bg;          // Info color
