<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body style="background-color: #F7F7F7;">
    <div align="center">
        <table>
            <tr>
                <td style="padding: .75pt .75pt;">
                    <p><a href="<%= root_url %>"><img src="<%= image_url('layout/gsb_trust_logo-small.png') %>" alt="GSBgate"></a></p>
                </td>
            </tr>