<tr>
    <td style="padding: .75pt .75pt;">
        <p><span style='font-size: 18pt; font-family: "Verdana", "sans-serif"; color: #0B9ADC;'>Confirm email address</span></p>
    </td>
</tr>
<tr>
    <td style="width: 650pt; border: solid #CCC 1pt; background: white; padding: 15pt 15pt;">
        <span style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>
            <p>Dear Ms/Mr</p>
            <p>A GSASgate user account was created for email address '<%= @email %>'.</p>
            <p>Please click on the link below to confirm your email address.</p>
            <p><%= link_to confirmation_url(@resource, confirmation_token: @token), confirmation_url(@resource, confirmation_token: @token) %></p>
            <p>With kind regards,</p>
        </span>
    </td>
</tr>