<%= render partial: 'devise/mailer/mail_header' %>
<tr>
    <td style="width: 650pt; border: solid #CCC 1pt; background: white; padding: 15pt 15pt;">
        <p>
            <span style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>Hello <%= @resource.email %>!</span>
        </p>
        <table class="table table-bordered table-striped user-details-table">
            <tbody>
                <tr>
                    <p>
                        <span style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>We're contacting you to notify you that your password has been changed.</span>
                    </p>
                </tr>
            </tbody>
        </table>
        <p>
            <span style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>With kind regards,</span>
        </p>
    </td>
</tr>
<%= render partial: 'devise/mailer/mail_footer' %>
