<tr>
    <td style="padding: .75pt .75pt;">
        <p><span style='font-size: 18pt; font-family: "Verdana", "sans-serif"; color: #0B9ADC;'>Change password</span></p>
    </td>
</tr>
<tr>
    <td style="width: 650pt; border: solid #CCC 1pt; background: white; padding: 15pt 15pt;">
        <span style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>
            <p>Dear Ms/Mr</p>
            <p>Please click on the link below to change the password of the GSAS user account with email address '<%= @resource.email %>'.</p>
            <p><%= link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token) %></p>
            <p>If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.</p>
            <p>With kind regards,</p>
        </span>
    </td>
</tr>