<div class="row">
    <div class="col-md-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>System Data</h5>
            </div>
            <div class="ibox-content">
                <p class="alert alert-info"><%= ikoen('info-circle') %> This is an overview of all GSAS criteria, categories, schemes, development types and certificates. You can manage all texts that are defined for each criteria and category.</p>
                <%= render_datatable(@datatable) %>
            </div>
        </div>
    </div>
</div>