<div class="row">
    <div class="col-md-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Criteria</h5>
            </div>
            <div class="ibox-content">
                <p class="alert alert-info"><%= fa_icon('info-circle') %> This is an overview of all GSAS criteria. You can manage all texts that are defined for each criteria.</p>
                <%= render_datatable(@datatable) %>
            </div>
        </div>
    </div>
</div>