<div class="row">
    <div class="col-lg-6">
        <div class="ibox criterion-information">
            <div class="ibox-title">
                <%= audit_log_label(@scheme_criterion) %>
                <h5>Criterion texts <%= tooltip(t '.tooltip_sortable').html_safe %></h5>
            </div>
            <div class="ibox-content sortable">
                <div class="sortable">
                    <% @scheme_criterion.scheme_criterion_texts.each do |criterion_text| %>
                        <%= render 'scheme_criterion_texts/text', criterion_text: criterion_text %>
                    <% end %>
                </div>
                <% if can?(:create, SchemeCriterionText.new(scheme_criterion_id: @scheme_criterion.id)) %>
                    <div class="hr-line-dashed"></div>
                    <%= btn_link_to(new_scheme_criterion_text_path(scheme_criterion_id: @scheme_criterion.id), icon: 'plus', text: 'Add text') %>
                <% end %>
            </div>
        </div>
    </div>
</div>