<div class="modal fade" id="advanceStatusModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <%= bootstrap_form_for([@project, @certification_path], url: update_certification_path_status_path, method: 'put') do |f| %>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" title="Close" data-toggle="tooltip">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">Advancing certificate status</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info" role="alert">
                        <i class="fa fa-info-circle"></i>&nbsp;&nbsp;Provide an optional comment below.
                    </div>
                    <%= f.text_area :audit_log_user_comment, label: 'Comment', rows: 4 %>
                </div>
                <div class="modal-footer">
                    <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
                        <i class="fa fa-lg fa-save" style="padding-right: 10px;"></i>Advance status
                    <% end %>
                    <button type="button" class="btn btn-white" data-dismiss="modal"><i title="Cancel" class="fa fa-lg fa-times" style="padding-right: 10px;"></i>Cancel</button>
                </div>
            <% end %>
        </div>
    </div>
</div>
