<% Certificate::CERTIFICATE_TYPES.each do |certificate| %>
  <% if project.certificate_type.nil? || project.certificate_type == Certificate.certificate_types[:"#{certificate}_type"] %>
    <ul class="list-group">
      <%= render partial: 'certification_paths/certification_path_details', locals: { project: project } %>
      <%= render partial: 'certification_paths/overview_item', locals: { project: project, certification_types: [:"provisional_#{certificate}", :"final_#{certificate}"] } %>
    </ul>
  <% end %>
<% end %>

<div id="applyForCertificateModal" class="modal fade"></div>