<% achieved ||= false %>
<% stars = CertificationPath.star_rating_for_score(score, certificate: certificate) %>
<div>
    <span class="text-right" style="width: 72px; display: inline-block;">
        <%= score_label %>
    </span>
    <span class="text-right" style="width: 32px; display: inline-block;">
      <% if certificate.construction_issue_1? %>
          <%= number_to_percentage(score, precision: 1) %>
      <% else %>
        <%= number_with_precision(score, precisison: 2, significant: true) %>
      <% end %>
    </span>
    <span>
        &nbsp;&nbsp;=&nbsp;&nbsp;
    </span>
    <span style="white-space: nowrap">
        <% if achieved %>
            <% stars.times do %>
                <i class="fa fa-star fa-lg"></i>
            <% end %>
        <% end %>
    </span>
    <span>
        <%= "#{stars}&nbsp;#{'star'.pluralize(stars)}".html_safe %>
    </span>
</div>