<%= can_link_to(project_certification_path_path(certification_path.project, certification_path), certification_path) do %>
    <div>
        <strong><%= certification_path.status %></strong>
        <% if !certification_path.is_activating? || !certification_path.is_completed? %>
            <% if RequirementDatum.for_certification_path(certification_path).count.nonzero? %>
                <span class="project-certification-progress">
                    (<%= RequirementDatum.for_certification_path(certification_path).completed.count * 100 / RequirementDatum.for_certification_path(certification_path).count %>&nbsp;%&nbsp;complete)
                </span>
            <% end %>
        <% end %>
    </div>
    <div>
        <%= render partial: 'certification_paths/ratings', locals: { certification_path: certification_path, display_item: 'score_and_rating' } %>
    </div>
<% end %>
