<div id="vertical-timeline-legend">
    <div class="vertical-timeline-legend-item">
        <div class="vertical-timeline-icon navy-bg">
            <i class="fa fa-user"></i>
        </div>
        <div class="description">
            Project team
        </div>
    </div>
    <div class="vertical-timeline-legend-item">
        <div class="vertical-timeline-icon yellow-bg">
            <i class="fa fa-user"></i>
        </div>
        <div class="description">
            GORD team
        </div>
    </div>
</div>