<div id="vertical-timeline-legend">
    <div class="vertical-timeline-legend-item">
        <div class="vertical-timeline-icon project-team">
            <i class="fa fa-user"></i>
        </div>
        <div class="description">
            <%= t('.project_team') %>
        </div>
    </div>
    <div class="vertical-timeline-legend-item">
        <div class="vertical-timeline-icon gsas-trust-team">
            <i class="fa fa-user"></i>
        </div>
        <div class="description">
            <%= t('.certifier_team') %>
        </div>
    </div>
</div>