<%= bootstrap_form_for([@project, @certification_path], url: update_status_project_certification_path_url, method: 'put') do |f| %>
    <div class="modal-header">
        <%= btn_close_modal %>
        <h4 class="modal-title">Advancing certificate status</h4>
    </div>
    <div class="modal-body">
        <%= f.text_area :audit_log_user_comment, label: 'Comment', rows: 4 %>
    </div>
    <div class="modal-footer">
        <%= btn_tag(icon: 'forward', text: 'Advance status') %>
    </div>
<% end %>