<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5><%= t('.title', certificate: @certification_path.certificate.full_name) %></h5>
    </div>
    <div class="ibox-content">
        <%= render 'certification_paths/new_letter_of_conformance' if @certification_path.certificate.letter_of_conformance? %>
        <%= render 'certification_paths/new_final_design' if @certification_path.certificate.final_design_certificate? %>
    </div>
</div>
