<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Certification details</h5>
            </div>
            <div class="ibox-content">
                <p>
                    <strong>Name:</strong>
                    <%= @certification_path.certificate.label %>
                </p>
                <p>
                    <strong>Status:</strong>
                    <%= @certification_path.status %>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Schemes</h5>
            </div>
            <div class="ibox-content">
                <% @certification_path.scheme_mixes.each do |scheme_mix| %>
                    <p><%= link_to scheme_mix.scheme.full_label, project_certification_path_scheme_mix_path(@certification_path.project, @certification_path, scheme_mix) %></p>
                <% end %>
            </div>
        </div>
    </div>
</div>
