<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Certification details</h5>
            </div>
            <div class="ibox-content">
                <p>
                    <strong>Name:</strong>
                    <%= @certification_path.certificate.label %>
                </p>

                <% if @certification_path.schemes.count == 0 %>
                    <p>
                        <strong>Scheme:</strong>
                        No scheme found
                    </p>

                <% elsif @certification_path.schemes.count == 1 %>
                    <p>
                        <strong>Scheme:</strong>
                        <%= @certification_path.schemes.take.full_label %>
                    </p>
                <% else %>
                <p>
                    Todo: many schemes + management interface
                </p>
                <% end %>
                <p>
                    <strong>Status:</strong>
                    <%= @certification_path.status %>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Categories</h5>
            </div>
            <div class="ibox-content">

            </div>
        </div>
    </div>
</div>
