<% if @controller_model.present? %>
    <ol class="breadcrumb">
        <% breadcrumbs(@controller_model).each do |breadcrumb| %>
            <li><%= breadcrumb.html_safe %></li>
        <% end %>
    </ol>
<% end %>
