<div class="footer">
    <div class="pull-right">
        Created by VITO NV <% if APP_VERSION.present? %>- v<%= APP_VERSION %><% end %>
    </div>
    <div>
        <strong>Copyright</strong> &copy; GORD <%= Time.now.year %>
    </div>
</div>
