<div class="footer">
    <div class="pull-right">
        Created by VITO NV
    </div>
    <%= image_tag('layout/footer-image.gif') %>
    <div>
        <strong>Copyright</strong> &copy; GORD 2015
    </div>
</div>
